<template>
    <v-container>
        <div class="tw-text-2xl tw-font-bold tw-mb-5">Add Insurance</div>
        <v-divider class="tw-mb-3"></v-divider>
        <v-form>
            <v-row>
                <v-col cols="12">
                    <div class="tw-text-lg tw-font-bold">Insurance</div>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.tier_name" label="Tier Name*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.tier_name.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-textarea v-model="input.description" label="Description*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.description.$errors.map(e => e.$message))"></v-textarea>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.coverage_amount" type="number" label="Coverage Amount*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.coverage_amount.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-btn @click="router.push({ name: 'insurance' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
                </v-col>
                <v-col cols="12" md="6">
                    <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import { useInsuraceStore } from '@/store/insurance';
import useVuelidate from '@vuelidate/core';
import { minValue, required } from '@vuelidate/validators';
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const insuranceStore = useInsuraceStore()
const route = useRoute()

const id = route.params.id

const input = ref(insuranceStore.insurance)

const rules = {
    tier_name: { required },
    description: { required },
    coverage_amount: { required, minValue: minValue(0) },
}

//bind validation rules to input form
const v$ = useVuelidate(rules, input)

//if id exist get data from backend else reset state
if (id) {
    getData(String(id))
}else{
    insuranceStore.$reset()

    input.value = insuranceStore.insurance
}

async function getData(addOnId: string) {
    await insuranceStore.get(addOnId)

    input.value = insuranceStore.insurance
}

async function submit() {
    //check validation first
    const isFormCorrect = await v$.value.$validate()

    if (!isFormCorrect) return
    id ? insuranceStore.update(input.value) : insuranceStore.insert(input.value)
}

</script>