<template>
    <v-container>
        <h1 class="tw-mb-5">Insurance</h1>
        <v-row class="tw-mb-1" align="end" justify="space-between">
            <v-col>
                <v-text-field class="tw-w-1/2" v-model.lazy="search" label="Search" variant="outlined" density="comfortable"
                    @change="getData" hide-details>
                </v-text-field>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'add_insurance' })" prepend-icon="mdi-plus" variant="outlined">Add
                    Insurance</v-btn>
                <v-btn v-if="itemsSelected.length > 0" class="tw-ml-3" color="red-darken-4" prepend-icon="mdi-delete">Delete
                    Selected</v-btn>
            </v-col>
        </v-row>
        <EasyDataTable table-class-name="default-data-table" v-model:server-options="serverOptions"
            v-model:items-selected="itemsSelected" :theme-color="'#cc2c24'" :server-items-length="serverItemLength"
            :loading="loading" :headers="headers" :items="items" must-sort buttons-pagination>
            <template #item-coverage_amount="{ coverage_amount }">
                {{ formatNumberToBillion(coverage_amount)  }}
            </template>
            <template #item-description="{ description }">
                <pre>{{ description }}</pre>
                <!-- <pre v-html="description"></pre> -->
            </template>
            <template #item-action="item">
                <div class="tw-flex">
                    <v-icon @click="router.push({ name: 'edit_insurance', params: { id: item.id } })" class="tw-mr-3"
                        icon="mdi-pencil"></v-icon>
                    <v-icon @click="deleteData(item.id)" icon="mdi-delete"></v-icon>
                </div>
            </template>
        </EasyDataTable>

        <Prompt :prompt-type="'delete'"></Prompt>
    </v-container>
</template>

<script lang="ts" setup>

import numberFormat, {formatNumberToBillion, htmlFormat} from '@/library/format';
import router from '@/router';
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault';
import { useDialogStore } from '@/store/dialog';
import { useInsuraceStore } from '@/store/insurance';
import Prompt from '@/views/components/Dialog/Prompt.vue';
import { ref, watch } from 'vue';
import type { Header, Item } from "vue3-easy-data-table";

const insuranceStore = useInsuraceStore();
const dialogStore = useDialogStore();

const loading = ref(false)
const search = ref('')

const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])

const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault);

const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true
    },
    {
        text: 'Tier Name',
        value: 'tier_name',
    },
    {
        text: 'Description',
        value: 'description',
    },
    {
        text: 'Coverage Amount',
        value: 'coverage_amount'
    },
    {
        text: 'Action',
        value: 'action'
    }
];

getData()

async function getData() {
    loading.value = true
    
    await insuranceStore.getAll({
        page: serverOptions.value.page,
        per_page: serverOptions.value.rowsPerPage,
        filters: [],
        orders: [
            { 
                field: serverOptions.value.sortBy, 
                direction: serverOptions.value.sortType 
            }
        ],
        keyword: search.value
    })
    items.value = insuranceStore.insurances.data
    items.value.forEach(item =>{
        // item.description = '<p>This is some <strong>HTML</strong> description.</p>'
        // item.description = htmlFormat(item.description)
    })
    serverItemLength.value = insuranceStore.insurances.total

    loading.value = false
}

async function deleteData(id: string){
    const prompt = await dialogStore.prompt()

    if(prompt){
        loading.value = true

        await insuranceStore.remove(id)
        await getData()

        loading.value = false
    }
}

watch(serverOptions, (value) => { 
    getData(); 
}, { deep: true });

</script>