<template>
  <td @click="showDetail" :colspan="connectedRow" :rowspan="connectedCol" :class="[
    setPadding(floorZoneType),
    setTitleLabelColor(floorStatus),
    setDisabledState(floorZoneType),
    setCursorPointer(floorZoneType)
  ]" class="floor-cell tw-border-8">

    <div class="" :class="[
      isZonePark() ? setCellColor(floorStatus) + 'tw-text-neutral-700 tw-p-2 text-center' : '',
    ]">
      {{ enabledCellState.includes(floorZoneType) ? floorLabel : "" }}
    </div>
    <div :class="{ 'tw-p-5': isZonePark() }">
      <template v-if="carDetail.owner_name">
        {{ carDetail.owner_name }} <br />
      </template>
      <template v-if="carDetail.car_name">
        {{ carDetail.car_name }}
      </template>
    </div>

    <v-tooltip v-if="floorZoneType === floorZoneTypeText.park" class="text-center" activator="parent" location="top">
      MyCar
    </v-tooltip>
  </td>
</template>

<script lang="ts">

const floorZoneTypeText = {
  park: "park",
  camera: "camera",
  hallway: "hallway",
  other: "other"
}

const floorStatusText = {
  vacant: "vacant",
  occupied: "occupied",
  other: "other"
};

const enabledCellState = [
  floorZoneTypeText.park,
  floorZoneTypeText.camera
]

</script>

<script lang="ts" setup>
import { useDetailCellStore } from '@/store/detail_cell';
import { useDialogStore } from '@/store/dialog';
import { computed } from 'vue';

const dialogStore = useDialogStore();
const detailCellStore = useDetailCellStore();

const floorLabel = computed(() => {
  switch (props.floorZoneType) {
    case floorZoneTypeText.camera:
      return 'CAM' + props.cameraNumber;
    default:
      return convertIntToChar(props.row) + props.col;
  }
});

const props = defineProps({
  row: {
    type: Number,
    default: 0
  },
  col: {
    type: Number,
    default: 0
  },
  connectedRow: Number,
  connectedCol: Number,
  floorStatus: {
    type: String,
    default: floorStatusText.vacant
  },
  floorZoneType: {
    type: String,
    default: 'park'
  },
  cameraNumber: {
    type: Number,
    default: 0
  },
  carDetail: {
    type: Object,
    default: {
      owner_name: '',
      car_name: ''
    }
  }
});

function showDetail() {
  detailCellStore.cellInfo = {
    zone: floorLabel.value,
    row: props.row,
    col: props.col
  };

  enabledCellState.includes(props.floorZoneType) ? dialogStore.toggle() : false;
}

function convertIntToChar(n: number) {
  return String.fromCharCode(64 + n);
}

function setTitleLabelColor(status: string) {
  return props.floorZoneType !== floorZoneTypeText.park ? setCellColor(status) : ''
}

function setCellColor(status: string) {
  switch (status) {
    case floorStatusText.vacant:
      return 'tw-bg-green-300 hover:tw-bg-green-400';
    case floorStatusText.occupied:
      return "tw-bg-red-300 hover:tw-bg-red-400";
    default:
      return "tw-bg-sky-300 hover:tw-bg-sky-400";
  }
}

function setPadding(zoneType: string) {
  return zoneType !== floorZoneTypeText.park ? 'tw-p-8' : '';
}

function setDisabledState(type: string) {
  return !enabledCellState.includes(type) ? 'tw-bg-gray-500 hover:tw-bg-gray-500 tw-text-white' : '';
}

function setCursorPointer(type: string) {
  return enabledCellState.includes(type) ? 'tw-cursor-pointer' : '';
}

function isZonePark() {
  return props.floorZoneType === floorZoneTypeText.park
}

</script>
