<template>
    <v-container>
        <div class="tw-text-2xl tw-font-bold tw-mb-5">Add Staff</div>
        <v-divider class="tw-mb-3"></v-divider>
        <v-form>
            <v-row>
                <v-col cols="12">
                    <div class="tw-text-lg tw-font-bold">Profile</div>
                </v-col>
                
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.name" label="Name*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.name.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.nickname" label="NickName*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.nickname.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-if="!id" v-model="input.email" label="Email*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.email.$errors.map(e => e.$message))" required></v-text-field>
                    <v-text-field v-else disabled v-model="input.email" label="Email*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.email.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.phone_number" label="PhoneNumber*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.phone_number.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>       
                <v-col cols="12">
                    <v-select v-model="input.customer_information.customer_type" item-title="title" item-value="value" label="Choose Membership*"
                        variant="outlined" hide-details="auto" :items="constant.USER.CUSTOMER_TYPE.map(item => item.value)"
                        :error-messages="String(v$.customer_information.customer_type.$errors.map(e => e.$message))" return-object></v-select>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.company_information.company_name" label="Company Name*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.company_information.company_name.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.customer_information.identity_number" label="Identity Number*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.customer_information.identity_number.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-select v-model="input.customer_information.identity_type" item-title="title" item-value="value" label="Choose Membership*"
                        variant="outlined" hide-details="auto" :items="constant.USER.IDENTITY_TYPE.map(item => item.value)"
                        :error-messages="String(v$.customer_information.identity_type.$errors.map(e => e.$message))" return-object></v-select>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.customer_information.referral_name" label="Referral Name*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.customer_information.referral_name.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.customer_information.referral_source" label="Referral Source*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.customer_information.referral_source.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-textarea v-model="input.customer_information.referral_description" label="Referral Description*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.customer_information.referral_description.$errors.map(e => e.$message))"></v-textarea>
                </v-col>
                <v-col v-if="!id" cols="12">
                    <v-text-field v-model="input.password" type="password" label="Password*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.password.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col v-if="!id" cols="12">
                    <v-text-field v-model="input.password_confirmation" type="password" label="Confirm Password*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.password_confirmation.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-radio-group v-model="input.gender" :error-messages="String(v$.gender.$errors.map(e => e.$message))"
                        inline>
                        <template v-slot:label>
                            <div class="tw-text-white tw-font-bold">Choose your gender</div>
                        </template>
                        <v-radio label="Male" value="M" color="primary"></v-radio>
                        <v-radio label="Female" value="F" color="primary"></v-radio>
                    </v-radio-group>
                </v-col>
                <v-col cols="12">
                    <v-select v-model="input.role" item-title="name" item-value="id" label="Role*"
                        variant="outlined" :items="roles"
                        :error-messages="String(v$.role.name.$errors.map(e => e.$message))" return-object></v-select>
                </v-col>

            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-btn @click="router.push({ name: 'staff' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
                </v-col>
                <v-col cols="12" md="6">
                    <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import { useStaffStore } from '@/store/staff';
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { required, email, requiredIf, sameAs } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core';
import { constant } from '@/config/constant';

const staffStore = useStaffStore()
const route = useRoute()

const id = route.params.id

const input = ref(staffStore.staff)

const rules = {
    name: { required },
    nickname: { required },
    email: { required, email },
    phone_number: { required },
    gender: { required },
    role: { 
        name: { required }
    },
    company_information: {
        company_name: {
            // required: requiredIf((input) => input.customer_information.customer_type === 'business')
            required
        },
    },
    customer_information: {
        customer_type: { required },
        identity_number: { required },
        identity_type: { required },
        referral_name: { required },
        referral_source: { required },
        referral_description: { required }
    },
    password: { requiredIf: requiredIf(!id) },
    password_confirmation: { requiredIf: requiredIf(!id) }
}

const roles = [ constant.ROLE.STAFF ]

//bind validation rules to input form
const v$ = useVuelidate(rules, input)

//if id exist get data from backend else reset state
if (id) {
    getData(String(id))
}else{
    staffStore.$reset()

    input.value = staffStore.staff
}

async function getData(staffId: string) {
    await staffStore.get(staffId)

    input.value = staffStore.staff
    console.log('staff data:')
    console.log(input.value)
}

async function submit() {
    //check validation first
    const isFormCorrect = await v$.value.$validate()
    
    if (!isFormCorrect) return

    id ? staffStore.update(input.value) : staffStore.insert(input.value)
}

</script>