<template>
    <v-container>
        <h1 class="tw-mb-5">Staff</h1>
        <v-row class="tw-mb-1" align="end" justify="space-between">
            <v-col>
                <v-text-field
                    class="tw-w-1/2"
                    v-model.lazy="search"
                    label="Search"
                    variant="outlined"
                    density="comfortable"
                    @change="getData"
                    hide-details>
                </v-text-field>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'add_staff' })" prepend-icon="mdi-plus" variant="outlined">Add Staff</v-btn>
                <v-btn v-if="itemsSelected.length > 0" class="tw-ml-3" color="red-darken-4" prepend-icon="mdi-delete">Delete Selected</v-btn>
            </v-col>
        </v-row>
        <EasyDataTable
            table-class-name="default-data-table"
            v-model:server-options="serverOptionsDefault"
            v-model:items-selected="itemsSelected"
            :theme-color="'#cc2c24'"
            :server-items-length="serverItemLength"
            :loading="loading"
            :headers="headers"
            :items="items"
            must-sort
            buttons-pagination
        >
            <template #item-gender="{ gender }">
                {{ gender === 'M' ? 'Male' : 'Female' }}
            </template>
            <template #item-is_membership_active="{ is_membership_active }">
                <v-icon :icon="is_membership_active ? 'mdi-check' : 'mdi-minus'"></v-icon>
            </template>
            <template #item-action="item">
                <div class="tw-flex">
                    <v-icon @click="router.push({ name: 'detail_staff', params: { id: item.id } })" class="tw-mr-3" icon="mdi-eye"></v-icon>
                    <v-icon @click="router.push({ name: 'edit_staff', params: { id: item.id } })" class="tw-mr-3" icon="mdi-pencil"></v-icon>
                    <v-icon @click="deleteData(item.id)" icon="mdi-delete"></v-icon>
                </div>
            </template>
        </EasyDataTable>
        <Prompt :prompt-type="'delete'"></Prompt>
    </v-container>
</template>

<script lang="ts" setup>
import router from '@/router';
import Prompt from '@/views/components/Dialog/Prompt.vue';
import { useStaffStore } from '@/store/staff';
import { useDialogStore } from '@/store/dialog';
import { ref, watch } from 'vue';
import type { Header, Item } from "vue3-easy-data-table";
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault'
import { constant } from '@/config/constant';

const dialogStore = useDialogStore();
const staffStore = useStaffStore();
const loading = ref(false)
const search = ref('')
const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])
const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault);

const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true
    },
    {
        text: 'Name',
        value: 'name',
    },
    {
        text: 'Nickname',
        value: 'nickname',
    },
    {
        text: 'Email',
        value: 'email',
    },
    {
        text: 'Phone Number',
        value: 'phone_number',
    },
    {
        text: 'Gender',
        value: 'gender',
    },
    {
        text: 'Action',
        value: 'action'
    }
];

getData()

async function getData() {
    loading.value = true

    await staffStore.getAll({
        page: serverOptions.value.page,
        per_page: serverOptions.value.rowsPerPage,
        filters: [
            {
                field: 'role_id',
                operator: '=',
                value: String(constant.ROLE.STAFF.id)
            }
        ],
        orders: [
            {
                field: serverOptions.value.sortBy,
                direction: serverOptions.value.sortType
            }
        ],
        keyword: search.value
    })
    items.value = staffStore.staffs.data
    console.log(items.value)
    serverItemLength.value = staffStore.staffs.total

    loading.value = false
}

async function deleteData(id: string){
    console.log('hello1')
    const prompt = await dialogStore.prompt('delete')
    console.log('hello2')
    if(prompt){
        loading.value = true

        await staffStore.remove(id)
        await getData()

        loading.value = false
    }
}

watch(serverOptions, (value) => {
    getData();
}, { deep: true });
</script>
