<template>
    <v-dialog v-model="dialogStore.show" transition="dialog-bottom-transition" width="500">
        <v-card>
            <v-toolbar class="tw-px-3" color="primary" dark>
                <v-toolbar-title>
                    Zone {{ detailCellStore.cellInfo.zone }}
                </v-toolbar-title>
                <v-btn @click="dialogStore.toggle()" icon>
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text>
                <div class="text-h2 pa-12">Hello world!</div>
            </v-card-text>
            <v-card-actions class="justify-end">
                <v-btn text >Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts" setup>

import { useDetailCellStore } from '@/store/detail_cell';
import { useDialogStore } from '@/store/dialog';

const dialogStore = useDialogStore();
const detailCellStore = useDetailCellStore();

</script>