<template>
    <v-dialog v-if="dialogStore.type === promptType" v-model="dialogStore.show" transition="dialog-bottom-transition" width="500">
        <v-card>
            <v-toolbar class="tw-px-3" :class="setToolbarColor()" dark>
                <v-toolbar-title>
                    {{ _.startCase(dialogStore.type) }}
                </v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                {{ setPromptText() }}
            </v-card-text>
            <v-card-actions class="justify-end">
                <v-btn @click="dialogStore.cancel()" text="true">Cancel</v-btn>
                <v-btn v-if="promptType === 'delete'" @click="dialogStore.confirm()" class="tw-text-red-500" text="true">Delete</v-btn>
                <v-btn v-else class="tw-text-green-500" @click="dialogStore.confirm()" text="true">Confirm</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts" setup>

import _ from 'lodash'
import { useDialogStore } from '@/store/dialog';

const dialogStore = useDialogStore()

const props = defineProps({
    promptType: {
        type: String,
        default: 'refund'
    }
})

function setToolbarColor(){

    switch(dialogStore.type){
        case 'delete': return 'tw-bg-red-500'; break;
        case 'reject': return 'tw-bg-red-500'; break;
        case 'refund': return 'tw-bg-red-500'; break;
        case 'update': return 'tw-bg-red-500'; break;
        default: return 'tw-bg-blue-300'; break;
    }
}

function setPromptText(){
    
    switch(dialogStore.type){
        case 'delete': return 'Do you want to delete this data ?'; break;
        case 'reject': return 'Do you want to reject this transaction ?'; break;
        case 'refund': return 'Do you want to refund this transaction ?'; break;
        default: return 'Do you want to do this action ?'; break;
    }
}

</script>