<template>
    <v-container>
        <div class="tw-text-2xl tw-font-bold tw-mb-5">Add AddOn</div>
        <v-divider class="tw-mb-3"></v-divider>
        <v-form>
            <v-row>
                <v-col cols="12">
                    <div class="tw-text-lg tw-font-bold">AddOn</div>
                </v-col>
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.title" label="Title*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.title.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.description" label="Description*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.description.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.amount" label="Amount*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.amount.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-btn @click="router.push({ name: 'addon' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
                </v-col>
                <v-col cols="12" md="6">
                    <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import { useAddOnStore } from '@/store/addon';
import useVuelidate from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const addonStore = useAddOnStore()
const route = useRoute()

const id = route.params.id

const input = ref(addonStore.addon)

const rules = {
    title: { required },
    description: { required },
    amount: { required }
}

//bind validation rules to input form
const v$ = useVuelidate(rules, input)

//if id exist get data from backend else reset state
if (id) {
    getData(String(id))
}else{
    addonStore.$reset()

    input.value = addonStore.addon
}

async function getData(addOnId: string) {
    await addonStore.get(addOnId)

    input.value = addonStore.addon
}

async function submit() {
    //check validation first
    const isFormCorrect = await v$.value.$validate()

    if (!isFormCorrect) return

    id ? addonStore.update(input.value) : addonStore.insert(input.value)
}

</script>