<template>
    <v-container>
        <v-row justify="space-between">
            <v-col>
                <div class="tw-text-2xl tw-font-bold tw-mb-5">Detail Appointment</div>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'appointment' })" variant="outlined">Back</v-btn>
            </v-col>
        </v-row>

        <v-divider class="tw-mb-3"></v-divider>

        <v-expansion-panels :multiple="true">
            <v-expansion-panel title="Appointment">
                <v-expansion-panel-text>
                    <list-item-detail v-for="(value, key) in detail" :item-key="key" :item-value="value"></list-item-detail>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.booking" title="Booking">
                <v-expansion-panel-text>
                    <list-item-detail v-for="(value, key) in detail.booking" :item-key="key" :item-value="value">
                    </list-item-detail>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.driver" title="Driver">
                <v-expansion-panel-text>
                    <list-item-detail v-for="(value, key) in detail.driver" :item-key="key" :item-value="value">
                    </list-item-detail>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.staff" title="Staff">
                <v-expansion-panel-text>
                    <list-item-detail v-for="(value, key) in detail.driver" :item-key="key" :item-value="value">
                    </list-item-detail>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.vehicle" title="Vehicle">
                <v-expansion-panel-text>
                    <list-item-detail v-for="(value, key) in detail.vehicle" :item-key="key" :item-value="value">
                    </list-item-detail>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import { useAppointmentStore } from '@/store/appointment';
import ListItemDetail from '@/views/components/List/ListItemDetail.vue';
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const appointmentStore = useAppointmentStore()
const route = useRoute()

const reference_number = route.params.reference_number
const detail = ref(appointmentStore.appointment)

getData(String(reference_number))

async function getData(reference_number: string) {
    await appointmentStore.get(reference_number)

    detail.value = appointmentStore.appointment
}

</script>