<template>
    <v-container>
        <v-row justify="space-between">
            <v-col>
                <div class="tw-text-2xl tw-font-bold tw-mb-5">Detail Appointment</div>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'appointment' })" variant="outlined">Back</v-btn>
            </v-col>
        </v-row>

        <v-divider class="tw-mb-3"></v-divider>

        <v-expansion-panels :multiple="true">
            <v-expansion-panel title="Appointment">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in appointmentHeaders">
                                <template v-if="header.value==='date_time' || header.value==='completed_at'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ dateFormat(getValueByHeader(appointmentData, header.value)) }}</td>
                                </template>
                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ getValueByHeader(appointmentData, header.value) }}</td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>

            <v-expansion-panel v-if="detail.booking" title="Booking">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in bookingHeaders">
                                <template v-if="header.value==='insured_value'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ formatNumberToBillion(getValueByHeader(bookingData, header.value)) }}</td>
                                </template>
                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ getValueByHeader(bookingData, header.value) }}</td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>

            <v-expansion-panel v-if="detail.driver" title="Driver">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in driverHeaders">
                                <template v-if="header.value==='gender'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td v-if="getValueByHeader(driverData, header.value) === 'F'" class="tw-p-2 border border-white">Female</td>
                                    <td v-else class="tw-p-2 border border-white">Male</td>
                                </template>
                                <template v-else-if="header.value==='profile_image_url'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">
                                        <img v-if="getValueByHeader(driverData, header.value)" :src="getValueByHeader(driverData, header.value)" :alt="image" style="width: 100px; height: auto;"/>
                                        <img v-else src="@/assets/icons/logo.png" :alt="image" style="width: 100px; height: auto;"/>
                                    </td>
                                </template>
                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ getValueByHeader(driverData, header.value) }}</td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>

            <v-expansion-panel v-if="detail.vehicle" title="Vehicle">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in vehicleHeaders">
                                <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                <td class="tw-p-2 border border-white">{{ getValueByHeader(vehicleData, header.value) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>
            
        </v-expansion-panels>
        <v-divider class="tw-mb-5"></v-divider>
        
    </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import {formatNumberToBillion, dateFormat} from '@/library/format';
import { useAppointmentStore } from '@/store/appointment';
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const appointmentStore = useAppointmentStore()
const route = useRoute()

const reference_number = route.params.reference_number
const detail = ref(appointmentStore.appointment)


const appointmentHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Reference Number',
        value: 'reference_number'
    },
    {
        text: 'Type',
        value: 'type'
    },
    {
        text: 'Date Time',
        value: 'date_time'
    },
    {
        text: 'Status',
        value: 'status'
    },
    {
        text: 'Is Delegated',
        value: 'is_delegated'
    },
    {
        text: 'Completed At',
        value: 'completed_at'
    },
];

const bookingHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Slot Type',
        value: 'slot_type'
    },
    {
        text: 'Insured Value',
        value: 'insured_value'
    },
    {
        text: 'Status',
        value: 'status'
    }
];

const driverHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Name',
        value: 'name'
    },
    {
        text: 'Nickname',
        value: 'nickname'
    },
    {
        text: 'Gender',
        value: 'gender'
    },
    {
        text: 'Identity Card Number',
        value: 'identity_card_number'
    },
    {
        text: 'Profile Image',
        value: 'profile_image_url'
    }
];

const vehicleHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Nickname',
        value: 'nickname'
    },
    {
        text: 'Brand',
        value: 'brand'
    },
    {
        text: 'Model',
        value: 'model'
    },
    {
        text: 'License Plate Number',
        value: 'license_plate_number'
    }
];


const appointmentData = ref(appointmentStore.appointment)
const bookingData = ref({})
const driverData = ref({})
const vehicleData = ref({})

function getValueByHeader(obj, path) {
    return obj.hasOwnProperty(path) ? obj[path] : '';
}

getData(String(reference_number))
async function getData(reference_number: string) {
    await appointmentStore.get(reference_number)

    detail.value = appointmentStore.appointment
    appointmentData.value = {...appointmentStore.appointment}
    bookingData.value = appointmentStore.appointment.booking
    driverData.value = appointmentStore.appointment.driver
    vehicleData.value = appointmentStore.appointment.vehicle
    console.log('the data:')
    console.log(detail.value)
}

</script>