<template>
    <v-container>
        <h1 class="tw-mb-5">Appointment</h1>
        <v-row class="tw-mb-1" align="end" justify="space-between">
            <v-col>
                <v-text-field class="tw-w-1/2" v-model.lazy="search" label="Search" variant="outlined" density="comfortable"
                    @change="getData" hide-details>
                </v-text-field>
            </v-col>
        </v-row>
        <EasyDataTable table-class-name="default-data-table" v-model:server-options="serverOptions"
            v-model:items-selected="itemsSelected" :theme-color="'#cc2c24'" :server-items-length="serverItemLength"
            :loading="loading" :headers="headers" :items="items" must-sort buttons-pagination>
            <template #item-is_delegated="{ is_delegated }">
                {{ is_delegated ? 'Yes' : 'No' }}
            </template>
            <template #item-date_time="{ date_time }">
                {{ dateFormat(date_time)  }}
            </template>
            <template #item-completed_at="{ completed_at }">
                {{ dateFormat(completed_at)  }}
            </template>
            <template #item-created_at="{ created_at }">
                {{ dateFormat(created_at)  }}
            </template>
            <template #item-updated_at="{ updated_at }">
                {{ dateFormat(updated_at)  }}
            </template>

            <template #item-status="{ status }">
                {{ _.startCase(status)  }}
            </template>
            <template #item-action="item">
                <div class="tw-flex">
                    <v-icon @click="router.push({ name: 'detail_appointment', params: { reference_number: item.reference_number } })" class="tw-mr-3"
                        icon="mdi-eye"></v-icon>
                    <tempate v-if="item.status === 'scheduled'">
                        <v-icon @click="updateAppointment(item.reference_number, 'completed')" class="tw-mr-3" icon="mdi-check-bold"></v-icon>
                        <v-icon @click="updateAppointment(item.reference_number, 'canceled')" class="tw-mr-3" icon="mdi-close-thick"></v-icon>
                    </tempate>
                </div>
            </template>
        </EasyDataTable>

        <Prompt :prompt-type="'update'"></Prompt>
    </v-container>
</template>

<script lang="ts" setup>


import {dateFormat} from '@/library/format';
import router from '@/router';
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault';
import { useDialogStore } from '@/store/dialog';
import Prompt from '@/views/components/Dialog/Prompt.vue';
import { ref, watch } from 'vue';
import type { Header, Item } from "vue3-easy-data-table";
import _ from 'lodash'
import { useAppointmentStore } from '@/store/appointment';

const appointmentStore = useAppointmentStore();
const dialogStore = useDialogStore();

const loading = ref(false)
const search = ref('')

const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])

const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault);

const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true
    },
    {
        text: 'Reference Number',
        value: 'reference_number',
    },
    {
        text: 'Type',
        value: 'type'
    },
    {
        text: 'Date Time',
        value: 'date_time',
    },
    {
        text: 'Status',
        value: 'status'
    },
    {
        text: 'Delegated',
        value: 'is_delegated'
    },
    {
        text: 'Completed At',
        value: 'completed_at'
    },
    {
        text: 'Action',
        value: 'action'
    }
];

getData()

async function getData() {
    loading.value = true
    
    await appointmentStore.getAll({
        page: serverOptions.value.page,
        per_page: serverOptions.value.rowsPerPage,
        filters: [],
        orders: [
            { 
                field: serverOptions.value.sortBy, 
                direction: serverOptions.value.sortType 
            }
        ],
        keyword: search.value
    })
    items.value = appointmentStore.appointments.data
    serverItemLength.value = appointmentStore.appointments.total

    loading.value = false
}

async function updateAppointment(reference_number: string, status: string) {
    const prompt = await dialogStore.prompt('update')

    if(prompt){
        loading.value = true

        await appointmentStore.update(reference_number, status)
        await getData()

        loading.value = false
    }
}

watch(serverOptions, (value) => { 
    getData(); 
}, { deep: true });

</script>