<template>
  <v-app-bar class="bg-black fixed w-full top-0 z-10">
    <v-app-bar-title>
      <div class="d-flex justify-space-between align-center tw-p-6">
        <img src="@/assets/icons/logo-text.png" width="110" height="40" alt="logo text" />
        <div class="user-profile text-white">
          <img class="d-inline" src="@/assets/icons/account-circle-white.svg" alt="account circle"/>
          ADMIN
        </div>
      </div>
    </v-app-bar-title>
  </v-app-bar>
</template>

<script lang="ts" setup>
  //
</script>
