<template>
  <v-app>
    <div class="flex flex-col h-screen">
      <default-bar />
      <div class="flex flex-grow">
        <sidebar />
        <default-view />
      </div>
    </div>
  </v-app>
</template>

<script lang="ts" setup>
  import DefaultBar from './AppBar.vue'
  import DefaultView from './View.vue'
  import Sidebar from "@/views/components/Sidebar.vue";
</script>
