<template>
    <v-container>
        <v-row justify="space-between">
            <v-col>
                <div class="tw-text-2xl tw-font-bold tw-mb-5">Detail User Vehicle</div>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'vehicle' })" variant="outlined">Back</v-btn>
            </v-col>
        </v-row>


        <!-- <v-divider class="tw-mb-3"></v-divider>
        <EasyDataTable table-class-name="default-data-table" v-model:server-options="serverOptions" :theme-color="'#cc2c24'" :loading="loading" :headers="headers" :items="items" must-sort buttons-pagination>
            <template #item-deleted_at="{ deleted_at }">
                {{ dateFormat(deleted_at)  }}
            </template>
            <template #item-created_at="{ created_at }">
                {{ dateFormat(created_at)  }}
            </template>
            <template #item-updated_at="{ updated_at }">
                {{ dateFormat(updated_at)  }}
            </template>
            <template #item-value="{ value }">
                {{ formatNumberToBillion(value)  }}
            </template>
        </EasyDataTable> -->

        <v-divider class="tw-mb-5"></v-divider>
        <v-expansion-panels :multiple="true">
            <v-expansion-panel title="Vehicle">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in vehicleHeaders">
                                <template v-if="header.value==='value'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ formatNumberToBillion(getValueByHeader(displayData, header.value)) }}</td>
                                </template>
                                <template v-else-if="header.value==='created_at' || header.value==='deleted_at' || header.value==='updated_at'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ dateFormat(getValueByHeader(displayData, header.value)) }}</td>
                                </template>
                                <template v-else-if="header.value==='engine_warm_up_care' || header.value==='tire_pressure_check_care'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">
                                        <v-icon v-if="getValueByHeader(displayData, header.value)" icon="mdi-toggle-switch" size="40"></v-icon>
                                        <v-icon v-else icon="mdi-toggle-switch-off-outline" size="40"></v-icon>
                                    </td>
                                </template>

                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ getValueByHeader(displayData, header.value) }}</td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>

            <v-expansion-panel v-if="detail.user" title="User">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in userHeaders">
                                <template v-if="header.value==='profile_image_url'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">
                                        <img v-if="getValueByHeader(userData, header.value)" :src="getValueByHeader(userData, header.value)" :alt="image" style="width: 100px; height: auto;"/>
                                        <img v-else src="@/assets/icons/logo.png" :alt="image" style="width: 100px; height: auto;"/>
                                    </td>
                                </template>
                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ getValueByHeader(userData, header.value) }}</td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>

            <v-expansion-panel v-if="detail.special_requests.length" title="Special Requests">
                <v-expansion-panel-text>
                    <list-item-expansion :item-key="'Special Request'"
                        :item-value="detail.special_requests"></list-item-expansion>
                </v-expansion-panel-text>
            </v-expansion-panel>

            <v-expansion-panel v-if="detail.attachments.length" title="Attachments">
                <v-expansion-panel-text v-for="(item, index) in detail.attachments" :key="index">
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in attachmentsHeaders">
                                <template v-if="header.value==='created_at' || header.value==='updated_at'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ dateFormat(getValueByHeader(attachmentsData[index], header.value)) }}</td>
                                </template>
                                <template v-else-if="header.value==='url'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">
                                        <img v-if="getValueByHeader(attachmentsData[index], header.value)" :src="getValueByHeader(attachmentsData[index], header.value)" :alt="image" style="width: 200px; height: auto;"/>
                                        <img v-else src="@/assets/icons/logo.png" :alt="image" style="width: 200px; height: auto;"/>
                                    </td>
                                </template>
                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                <td class="tw-p-2 border border-white">{{ getValueByHeader(attachmentsData[index], header.value) }}</td>
                                </template>
                                
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>
            
            <v-expansion-panel v-if="detail.cares.length" title="Cares">
                <v-expansion-panel-text>
                    <list-item-expansion :item-key="'Care'" :item-value="detail.cares"></list-item-expansion>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-container>
</template>

<script lang="ts" setup>
import numberFormat, {formatNumberToBillion, dateFormat} from '@/library/format';
import router from '@/router';
import { useVehicleStore } from '@/store/vehicle';
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault';
import ListItemDetail from '@/views/components/List/ListItemDetail.vue';
import ListItemExpansion from '@/views/components/List/ListItemExpansion.vue';
import { ref, watch } from 'vue';
import { useRoute } from 'vue-router';
// import { VDataTable } from 'vuetify/labs/VDataTable'
import type { Header, Item } from "vue3-easy-data-table";

const VehicleStore = useVehicleStore()
const route = useRoute()

const loading = ref(false)
// const items = ref<Item[]>([])
const items = ref(VehicleStore.vehicle)




// const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault);


const vehicleHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Nickname',
        value: 'nickname'
    },
    {
        text: 'Brand',
        value: 'brand'
    },
    {
        text: 'Model',
        value: 'model'
    },
    {
        text: 'Year',
        value: 'year'
    },
    {
        text: 'Color',
        value: 'color'
    },
    {
        text: 'License Plate Number',
        value: 'license_plate_number'
    },
    {
        text: 'Value',
        value: 'value'
    },
    {
        text: 'Transaction Insurance Flag',
        value: 'transaction_insurance_flag'
    },
    {
        text: 'Engine Warm Up Care',
        value: 'engine_warm_up_care'
    },
    {
        text: 'Engine Warm Up Care Frequency',
        value: 'engine_warm_up_care_frequency'
    },
    {
        text: 'Tire Pressure Check Care',
        value: 'tire_pressure_check_care'
    },
    {
        text: 'Rear Tire Pressure',
        value: 'rear_tire_pressure'
    },
    {
        text: 'Front Tire Pressure',
        value: 'front_tire_pressure'
    },
    {
        text: 'Accu Battery Charging Care',
        value: 'accu_battery_charging_care'
    },
    {
        text: 'Accu Battery Charging Note',
        value: 'accu_battery_charging_note'
    },
    {
        text: 'Deleted At',
        value: 'deleted_at'
    },
    {
        text: 'Created At',
        value: 'created_at'
    },
    {
        text: 'Updated At',
        value: 'updated_at'
    },
];

const userHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Name',
        value: 'name'
    },
    {
        text: 'Profile Image',
        value: 'profile_image_url'
    },
];

const attachmentsHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Type',
        value: 'type'
    },
    {
        text: 'Created At',
        value: 'created_at'
    },
    {
        text: 'Updated At',
        value: 'updated_at'
    },
    {
        text: 'Image',
        value: 'url'
    },
];


const id = route.params.id

const detail = ref(VehicleStore.vehicle)
const displayData = ref(VehicleStore.vehicle)
const userData = ref({})
const attachmentsData = ref([])
const tagsData = ref([])
const caresData = ref([])


function getValueByHeader(obj, path) {
    return obj.hasOwnProperty(path) ? obj[path] : '';
}

getData(String(id))

async function getData(id: string) {
    await VehicleStore.get(id)
    VehicleStore.vehicle.engine_warm_up_care_frequency = !VehicleStore.vehicle.engine_warm_up_care_frequency ? '0 day(s)' : VehicleStore.vehicle.engine_warm_up_care_frequency + ' day(s)'
    VehicleStore.vehicle.rear_tire_pressure = !VehicleStore.vehicle.rear_tire_pressure ? '0 psi' : VehicleStore.vehicle.rear_tire_pressure + ' psi'
    VehicleStore.vehicle.front_tire_pressure = !VehicleStore.vehicle.front_tire_pressure ? '0 psi' : VehicleStore.vehicle.front_tire_pressure + ' psi'

    // items.value = [VehicleStore.vehicle]
    // items.value = VehicleStore.vehicle
    detail.value = VehicleStore.vehicle
    displayData.value = {...VehicleStore.vehicle}
    userData.value = displayData.value.user
    attachmentsData.value = displayData.value.attachments
    delete displayData.value['user']
    delete displayData.value['attachments']

    console.log('detail:')
    console.log(detail.value)
    console.log('attachmentsData:')
    console.log(attachmentsData.value)
}
watch(serverOptions, (value) => { 
    getData(id); 
}, { deep: true });
</script>
