<template>
    <v-container>
        <h1 class="tw-mb-5">User Vehicle</h1>
        <v-row class="tw-mb-1" align="end" justify="space-between">
            <v-col>
                <v-text-field class="tw-w-1/2" v-model.lazy="search" label="Search" variant="outlined" density="comfortable"
                    @change="getData" hide-details>
                </v-text-field>
            </v-col>
        </v-row>
        <EasyDataTable table-class-name="default-data-table" v-model:server-options="serverOptions"
            v-model:items-selected="itemsSelected" :theme-color="'#cc2c24'" :server-items-length="serverItemLength"
            :loading="loading" :headers="headers" :items="items" must-sort buttons-pagination>
            <template #item-deleted_at="{ deleted_at }">
                {{ dateFormat(deleted_at)  }}
            </template>
            <template #item-created_at="{ created_at }">
                {{ dateFormat(created_at)  }}
            </template>
            <template #item-updated_at="{ updated_at }">
                {{ dateFormat(updated_at)  }}
            </template>
            <template #item-value="{ value }">
                {{ formatNumberToBillion(value)  }}
            </template>
            <template #item-action="item">
                <div class="tw-flex">
                    <v-icon @click="router.push({ name: 'detail_vehicle', params: { id: item.id } })" class="tw-mr-3"
                        icon="mdi-eye"></v-icon>
                </div>
            </template>
        </EasyDataTable>
    </v-container>
</template>

<script lang="ts" setup>

import numberFormat, {formatNumberToBillion, dateFormat} from '@/library/format';
import router from '@/router';
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault';
import { useDialogStore } from '@/store/dialog';
import { useVehicleStore } from '@/store/vehicle';
import _ from 'lodash';
import { ref, watch } from 'vue';
import type { Header, Item } from "vue3-easy-data-table";

const VehicleStore = useVehicleStore();
const dialogStore = useDialogStore();

const loading = ref(false)
const search = ref('')

const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])

const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault);

const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true
    },
    {
        text: 'Nickname',
        value: 'nickname',
    },
    {
        text: 'Brand',
        value: 'brand'
    },
    {
        text: 'Model',
        value: 'model',
    },
    {
        text: 'Year',
        value: 'year'
    },
    {
        text: 'Color',
        value: 'color'
    },
    {
        text: 'License Plate Number',
        value: 'license_plate_number'
    },
    {
        text: 'Value',
        value: 'value'
    },
    {
        text: 'Action',
        value: 'action'
    }
];

getData()

async function getData() {
    loading.value = true
    
    await VehicleStore.getAll({
        page: serverOptions.value.page,
        per_page: serverOptions.value.rowsPerPage,
        filters: [],
        orders: [
            { 
                field: serverOptions.value.sortBy, 
                direction: serverOptions.value.sortType 
            }
        ],
        keyword: search.value
    })
    items.value = VehicleStore.vehicles.data
    serverItemLength.value = VehicleStore.vehicles.total

    loading.value = false
}

watch(serverOptions, (value) => { 
    getData(); 
}, { deep: true });

</script>