<template>
    <v-container>
        <div class="tw-text-2xl tw-font-bold tw-mb-5">Transaction Payment</div>
        <v-divider class="tw-mb-3"></v-divider>
        <v-form>
            <v-row>
                <v-col cols="12">
                    <div class="tw-text-lg tw-font-bold">Transaction Payment {{ id }}</div>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.amount" label="Amount*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.amount.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-select v-model="input.payment_method" item-title="title" item-value="value" label="Choose Payment Method*"
                        variant="outlined" :items="constant.PAYMENT.TYPE"
                        :error-messages="String(v$.payment_method.$errors.map(e => e.$message))" return-object></v-select>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-btn @click="router.push({ name: 'transaction' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
                </v-col>
                <v-col cols="12" md="6">
                    <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>

<script lang="ts" setup>

import { constant } from "@/config/constant";
import router from '@/router';
import useVuelidate from '@vuelidate/core';
import { minValue, required } from '@vuelidate/validators';
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { useTransactionStore } from '@/store/transaction'

const transactionStore = useTransactionStore()
const route = useRoute()

const id = route.params.id

const input = ref({
    amount: 0,
    payment_method: constant.PAYMENT.TYPE[0]
})

const rules = {
    amount: { required, minValue: minValue(0) },
    payment_method: { required }
}

//bind validation rules to input form
const v$ = useVuelidate(rules, input)

async function submit() {
    //check validation first
    const isFormCorrect = await v$.value.$validate()

    if (!isFormCorrect) return
    
    transactionStore.payment(String(id), input.value)
}

</script>