<template>
    <v-container>
        <v-row justify="space-between">
            <v-col>
                <div class="tw-text-2xl tw-font-bold tw-mb-5">Detail Transaction</div>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'transaction' })" variant="outlined">Back</v-btn>
            </v-col>
        </v-row>


        <v-divider class="tw-mb-5"></v-divider>
        <table class="clone-data-table">
            <tbody>
                <tr v-for="header in userHeaders">
                    <template v-if="header.value==='created_at' || header.value==='updated_at' || header.value==='booking_start_at'">
                        <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                        <td class="tw-p-2 border border-white">{{ dateFormat(getValueByHeader(transactionData, header.value)) }}</td>
                    </template>
                    <template v-else-if="header.value==='grand_amount'">
                        <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                        <td class="tw-p-2 border border-white">{{ formatNumberToBillion(getValueByHeader(transactionData, header.value)) }}</td>
                    </template>
                    <template v-else>
                        <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                        <td class="tw-p-2 border border-white">{{ getValueByHeader(transactionData, header.value) }}</td>
                    </template>
                </tr>
            </tbody>
        </table>
    </v-container>
</template>

<script lang="ts" setup>
import numberFormat, {formatNumberToBillion, dateFormat} from '@/library/format';
import router from '@/router';
import { useTransactionStore } from '@/store/transaction'
import { ref, watch } from 'vue';
import { useRoute } from 'vue-router';

const transactionStore = useTransactionStore()
const route = useRoute()

// const items = ref<Item[]>([])
const transactionData = ref(transactionStore.transaction)



const userHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
   
    {
        text: 'Grand Amount',
        value: 'grand_amount'

    },
    {
        text: 'Reference Number',
        value: 'reference_number'
    },
    {
        text: 'Status',
        value: 'status'
    },
    {
        text: 'Booking Start At',
        value: 'booking_start_at'
    },
    {
        text: 'Updated At',
        value: 'updated_at'
    },
    {
        text: 'Transaction Date',
        value: 'created_at'
    },
    
];


const id = route.params.id


function getValueByHeader(obj, path) {
    return obj.hasOwnProperty(path) ? obj[path] : '';
}

getData(String(id))

async function getData(transactionId: string) {
    await transactionStore.get(transactionId)

    transactionData.value = transactionStore.transaction
    console.log('asldnwq data')
    console.log(transactionData.value)
}

</script>
