<template>
    <v-container>
        <h1 class="tw-mb-5">Transactions</h1>
        <v-row class="tw-mb-1" align="end" justify="space-between">
            <v-col>
                <v-text-field class="tw-w-1/2" v-model.lazy="search" label="Search" variant="outlined" density="comfortable"
                    @change="getData" hide-details>
                </v-text-field>
            </v-col>
        </v-row>
        <EasyDataTable table-class-name="default-data-table" v-model:server-options="serverOptions"
            v-model:items-selected="itemsSelected" :theme-color="'#cc2c24'" :server-items-length="serverItemLength"
            :loading="loading" :headers="headers" :items="items" must-sort buttons-pagination>
            <template #item-grand_amount="{ grand_amount }">
                {{ formatNumberToBillion(grand_amount)  }}
            </template>
            <template #item-booking_start_at="{ booking_start_at }">
                {{ dateFormat(booking_start_at)  }}
            </template>
            <template #item-created_at="{ created_at }">
                {{ dateFormat(created_at)  }}
            </template>
            <template #item-updated_at="{ updated_at }">
                {{ dateFormat(updated_at)  }}
            </template>
            <template #item-status="{ status }">
                {{ _.startCase(status) }}
            </template>
            <template #item-action="item">
                <div class="tw-flex">
                    <v-tooltip text="Detail" location="top">
                        <template v-slot:activator="{ props }">
                            <v-icon v-bind="props" @click="router.push({ name: 'detail_transaction', params: { id: item.id } })" class="tw-mr-3"
                                icon="mdi-eye"></v-icon>
                        </template>
                    </v-tooltip>
                    <v-tooltip v-if="item.status !== 'settled'" text="Payment" location="top">
                        <template v-slot:activator="{ props }">
                            <v-icon v-bind="props" @click="router.push({ name: 'payment', params: { id: item.id } })" class="tw-mr-3" icon="mdi-account-credit-card"></v-icon>
                        </template>
                    </v-tooltip>
                    <v-tooltip v-if="item.status !== 'settled' && item.status !== 'rejected'" text="Reject" location="top">
                        <template v-slot:activator="{ props }">
                            <v-icon v-bind="props" @click="rejectData(item.id)" class="tw-mr-3" icon="mdi-close-thick"></v-icon>
                        </template>
                    </v-tooltip>
                    <v-tooltip v-if="item.status === 'settled'" text="Refund" location="top">
                        <template v-slot:activator="{ props }">
                            <v-icon v-bind="props" @click="refundData(item.id)" class="tw-mr-3" icon="mdi-reply"></v-icon>
                        </template>
                    </v-tooltip>
                </div>
            </template>
        </EasyDataTable>

        <Prompt :prompt-type="'reject'"></Prompt>
        <Prompt :prompt-type="'refund'"></Prompt>
    </v-container>
</template>

<script lang="ts" setup>

import numberFormat, {dateFormat, formatNumberToBillion} from '@/library/format';
import router from '@/router';
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault';
import { useDialogStore } from '@/store/dialog';
import { useTransactionStore } from '@/store/transaction';
import Prompt from '@/views/components/Dialog/Prompt.vue';
import { ref, watch } from 'vue';
import type { Header, Item } from "vue3-easy-data-table";
import _ from 'lodash'

const transactionStore = useTransactionStore();
const dialogStore = useDialogStore();

const loading = ref(false)
const search = ref('')

const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])

const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault);

const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true
    },
    {
        text: 'User Name',
        value: 'user.name'
    },
    {
        text: 'Grand Amount',
        value: 'grand_amount',
    },
    {
        text: 'Reference Number',
        value: 'reference_number',
    },
    {
        text: 'Status',
        value: 'status'
    },
    {
        text: 'Booking Start At',
        value: 'booking_start_at'
    },
    {
        text: 'Transaction Date',
        value: 'created_at'
    },
    {
        text: 'Action',
        value: 'action'
    }
];

getData()

async function getData() {
    loading.value = true
    
    await transactionStore.getAll({
        page: serverOptions.value.page,
        per_page: serverOptions.value.rowsPerPage,
        filters: [],
        orders: [
            { 
                field: serverOptions.value.sortBy, 
                direction: serverOptions.value.sortType 
            }
        ],
        keyword: search.value
    })
    
    items.value = transactionStore.transactions.data
    console.log('getAll>')
    console.log(items.value)
    serverItemLength.value = transactionStore.transactions.total
    items.value.forEach(transaction => {
      if (transaction.status === "settlement") {
        transaction.status = "settled";
      }else if (transaction.status === "reject") {
        transaction.status = "rejected";
      }

    });
    loading.value = false
}

async function rejectData(id: string){
    const prompt = await dialogStore.prompt('reject')
    
    if(prompt){
        loading.value = true

        await transactionStore.reject(id)
        await getData()

        loading.value = false
    }
}

async function refundData(id: string){
    const prompt = await dialogStore.prompt('refund')
    
    if(prompt){
        loading.value = true

        await transactionStore.refund(id)
        await getData()

        loading.value = false
    }
}

watch(serverOptions, (value) => { 
    getData(); 
}, { deep: true });

</script>