<template>
    <v-container>
        <v-row justify="space-between">
            <v-col>
                <div class="tw-text-2xl tw-font-bold tw-mb-5">Detail Booking</div>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'booking' })" variant="outlined">Back</v-btn>
            </v-col>
        </v-row>

        <v-divider class="tw-mb-3"></v-divider>

        <v-expansion-panels :multiple="true">
            <v-expansion-panel title="Booking">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in bookingHeaders">
                                <template v-if="header.value==='insured_value'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ formatNumberToBillion(getValueByHeader(bookingData, header.value)) }}</td>
                                </template>
                                <template v-else-if="header.value==='start_at' || header.value==='end_at'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ dateFormat(getValueByHeader(bookingData, header.value)) }}</td>
                                </template>

                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ getValueByHeader(bookingData, header.value) }}</td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.transaction" title="Transaction">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in transactionHeaders">
                                <template v-if="header.value==='grand_amount'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ formatNumberToBillion(getValueByHeader(transactionData, header.value)) }}</td>
                                </template>
                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ getValueByHeader(transactionData, header.value) }}</td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.user" title="User">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in userHeaders">
                                <template v-if="header.value==='profile_image_url'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">
                                        <img v-if="getValueByHeader(userData, header.value)" :src="getValueByHeader(userData, header.value)" :alt="image" style="width: 100px; height: auto;"/>
                                        <img v-else src="@/assets/icons/logo.png" :alt="image" style="width: 100px; height: auto;"/>
                                    </td>
                                </template>
                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ getValueByHeader(userData, header.value) }}</td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.vehicle" title="Vehicle">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in vehicleHeaders">    
                                <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                <td class="tw-p-2 border border-white">{{ getValueByHeader(vehicleData, header.value) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.slot" title="Slot">
                <v-expansion-panel-text>
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in slotHeaders">    
                                <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                <td class="tw-p-2 border border-white">{{ getValueByHeader(slotData, header.value) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.appointments" title="Appointment">
                <v-expansion-panel-text v-for="(item, index) in detail.appointments" :key="index">
                    <table class="clone-data-table">
                        <tbody>
                            <tr v-for="header in appointmentsHeaders">
                                <template v-if="header.value==='date_time' || header.value==='completed_at' || header.value==='created_at' || header.value==='updated_at'">
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                    <td class="tw-p-2 border border-white">{{ dateFormat(getValueByHeader(appointmentsData[index], header.value)) }}</td>
                                </template>

                                <template v-else>
                                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                                <td class="tw-p-2 border border-white">{{ getValueByHeader(appointmentsData[index], header.value) }}</td>
                                </template>
                                
                            </tr>
                        </tbody>
                    </table>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-container>
</template>

<script lang="ts" setup>

import numberFormat, {dateFormat, formatNumberToBillion} from '@/library/format';
import { useBookingStore } from '@/store/booking';
import _ from "lodash";
import { ref } from 'vue';
import router from '@/router'
import { useRoute } from 'vue-router';
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault';
import type { Header, Item } from "vue3-easy-data-table";

const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault)
const loading = ref(false)
const items = ref<Item[]>([])
const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true,
        width: 50
    },
    {
        text: 'Name',
        value: 'user.name',
        width: 220
    },
    {
        text: 'Slot Type',
        value: 'slot_type',
        width: 100
    },
    {
        text: 'Status',
        value: 'status',
        width: 150
    },
    {
        text: 'Remark',
        value: 'remark',
        width: 150
    },
    {
        text: 'Insured Value',
        value: 'insured_value',
        width: 150
    },
    {
        text: 'Start At',
        value: 'start_at',
        width: 150
    },
    {
        text: 'End At',
        value: 'end_at',
        width: 150
    }
   
    
];
const bookingStore = useBookingStore()
const route = useRoute()

const id = route.params.id
const detail = ref(bookingStore.booking)


const bookingHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Slot Type',
        value: 'slot_type'
    },
    {
        text: 'Status',
        value: 'status'
    },
    {
        text: 'Remark',
        value: 'remark'
    },
    {
        text: 'Insured Value',
        value: 'insured_value'
    },
    {
        text: 'Start At',
        value: 'start_at'
    },
    {
        text: 'End At',
        value: 'end_at'
    }
   
    
];

const transactionHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Grand Amount',
        value: 'grand_amount'
    },
    {
        text: 'Reference Number',
        value: 'reference_number'
    }
];

const userHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Name',
        value: 'name'
    },
    {
        text: 'Profile Image',
        value: 'profile_image_url'
    },
];

const vehicleHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Nickname',
        value: 'nickname'
    },
    {
        text: 'Brand',
        value: 'brand'
    },
    {
        text: 'Model',
        value: 'model'
    },
    {
        text: 'License Plate Number',
        value: 'license_plate_number'
    },
];

const slotHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Code',
        value: 'code'
    },
    {
        text: 'Directory Level',
        value: 'directory_level'
    },
    {
        text: 'Directory Row',
        value: 'directory_row'
    },
    {
        text: 'Directory Column',
        value: 'directory_column'
    },
    {
        text: 'Type',
        value: 'type'
    },
    {
        text: 'Status',
        value: 'status'
    },
];

const appointmentsHeaders: Header[] = [
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Reference Number',
        value: 'reference_number'
    },
    {
        text: 'Type',
        value: 'type'
    },
    {
        text: 'Date Time',
        value: 'date_time'
    },
    {
        text: 'Status',
        value: 'status'
    },
    {
        text: 'Delegated',
        value: 'is_delegated'
    },
    {
        text: 'Completed At',
        value: 'completed_at'
    },

    {
        text: 'Created At',
        value: 'created_at'
    },

    {
        text: 'Updated At',
        value: 'updated_at'
    },
];

const bookingData = ref(bookingStore.booking)
const transactionData = ref({})
const userData = ref({})
const vehicleData = ref({})
const slotData = ref({})
const appointmentsData = ref([])


getData(String(id))

async function getData(id: string) {
    await bookingStore.get(id)

    detail.value = bookingStore.booking
    bookingData.value = {...bookingStore.booking}
    transactionData.value = bookingData.value.transaction
    userData.value = bookingData.value.user
    vehicleData.value = bookingData.value.vehicle
    slotData.value = bookingData.value.slot
    appointmentsData.value = bookingData.value.appointments

    delete bookingData.value['transaction']
    delete bookingData.value['user']
    delete bookingData.value['vehicle']
    delete bookingData.value['slot']
    delete bookingData.value['appointments']
    items.value = [bookingStore.booking]
}


function getValueByHeader(obj, path) {
    return obj.hasOwnProperty(path) ? obj[path] : '';
}
</script>