<template>
    <v-container>
        <h1 class="tw-mb-5">Booking</h1>
        <v-row class="tw-mb-1" align="end" justify="space-between">
            <v-col>
                <v-text-field class="tw-w-1/2" v-model.lazy="search" label="Search" variant="outlined" density="comfortable"
                    @change="getData" hide-details>
                </v-text-field>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn v-if="itemsSelected.length > 0" class="tw-ml-3" color="red-darken-4" prepend-icon="mdi-delete">Delete
                    Selected</v-btn>
            </v-col>
        </v-row>
        <EasyDataTable table-class-name="default-data-table" v-model:server-options="serverOptions"
            v-model:items-selected="itemsSelected" :theme-color="'#cc2c24'" :server-items-length="serverItemLength"
            :loading="loading" :headers="headers" :items="items" must-sort buttons-pagination>
            <template #item-insured_value="{ insured_value }">
                {{ numberFormat(insured_value) }}
            </template>
            <template #item-slot_type="{ slot_type }">
                {{ _.startCase(slot_type) }}
            </template>
            <template #item-start_at="{ start_at }">
                {{ dateFormat(start_at)  }}
            </template>
            <template #item-end_at="{ end_at }">
                {{ dateFormat(end_at)  }}
            </template>
            <template #item-status="{ status }">
                {{ _.startCase(status) }}
            </template>
            <template #item-action="item">
                <div class="tw-flex">
                    <v-icon @click="router.push({ name: 'detail_booking', params: { id: item.id } })" class="tw-mr-3"
                        icon="mdi-eye"></v-icon>
                    <v-icon @click="deleteData(item.id)" icon="mdi-delete"></v-icon>
                </div>
            </template>
        </EasyDataTable>

        <Prompt :prompt-type="'delete'"></Prompt>
    </v-container>
</template>

<script lang="ts" setup>

import {dateFormat} from '@/library/format';
import router from '@/router';
import { useBookingStore } from '@/store/booking';
import { useDialogStore } from '@/store/dialog';
import Prompt from '@/views/components/Dialog/Prompt.vue';
import { ref, watch } from 'vue';
import type { Header, Item } from "vue3-easy-data-table";
import _ from 'lodash'
import numberFormat from '@/library/format'

const bookingStore = useBookingStore();
const dialogStore = useDialogStore();

const loading = ref(false)
const search = ref('')

const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])

const serverItemLength = ref(0)
const serverOptions = ref({
    page: 1,
    rowsPerPage: 5,
    sortBy: 'id',
    sortType: 'desc'
});

const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true
    },
    {
        text: 'Slot Type',
        value: 'slot_type',
    },
    {
        text: 'Status',
        value: 'status',
    },
    {
        text: 'Insured Value',
        value: 'insured_value'
    },
    {
        text: 'Start At',
        value: 'start_at'
    },
    {
        text: 'End At',
        value: 'end_at'
    },
    {
        text: 'Action',
        value: 'action'
    }
];

getData()

async function getData() {
    loading.value = true
    
    await bookingStore.getAll({
        page: serverOptions.value.page,
        per_page: serverOptions.value.rowsPerPage,
        filters: [],
        orders: [
            { 
                field: serverOptions.value.sortBy, 
                direction: serverOptions.value.sortType 
            }
        ],
        keyword: search.value
    })
    items.value = bookingStore.bookings.data

    serverItemLength.value = bookingStore.bookings.total

    loading.value = false
}

async function deleteData(id: string){
    const prompt = await dialogStore.prompt()

    if(prompt){
        loading.value = true

        await bookingStore.remove(id)
        await getData()

        loading.value = false
    }
}

watch(serverOptions, (value) => { 
    getData(); 
}, { deep: true });

</script>