<template>
    <v-container>
        <div class="tw-text-2xl tw-font-bold tw-mb-5">Edit Setting</div>
        <v-divider class="tw-mb-3"></v-divider>
        <v-form>
            <v-row>
                <v-col cols="12">
                    <div class="tw-text-lg tw-font-bold">Setting</div>
                </v-col>
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.display_name" label="Display Name*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.display_name.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.value" label="Value*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.value.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-btn @click="router.push({ name: 'setting' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
                </v-col>
                <v-col cols="12" md="6">
                    <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import { useSettingStore } from '@/store/setting';
import useVuelidate from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const settingStore = useSettingStore()
const route = useRoute()

const id = route.params.id

const input = ref(settingStore.setting)

const rules = {
    display_name: { required },
    value: { required }
}

//bind validation rules to input form
const v$ = useVuelidate(rules, input)


async function submit() {
    //check validation first
    const isFormCorrect = await v$.value.$validate()

    if (!isFormCorrect) return
    
    settingStore.update(String(id), input.value)
}

</script>