<template>
    <v-container>
        <h1 class="tw-mb-5">Setting</h1>
        <v-row class="tw-mb-1" align="end" justify="space-between">
            <v-col>
                <v-text-field class="tw-w-1/2" v-model.lazy="search" label="Search" variant="outlined" density="comfortable"
                    @change="getData" hide-details>
                </v-text-field>
            </v-col>
        </v-row>
        <EasyDataTable table-class-name="default-data-table" v-model:server-options="serverOptions"
            v-model:items-selected="itemsSelected" :theme-color="'#cc2c24'" :server-items-length="serverItemLength"
            :loading="loading" :headers="headers" :items="items" must-sort buttons-pagination>
            <template #item-action="item">
                <div class="tw-flex">
                    <v-icon @click="editData(item)" class="tw-mr-3"
                        icon="mdi-pencil"></v-icon>
                </div>
            </template>
        </EasyDataTable>
    </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault';
import { useSettingStore } from '@/store/setting';
import { ref, watch } from 'vue';
import type { Header, Item } from "vue3-easy-data-table";

const settingStore = useSettingStore();

const loading = ref(false)
const search = ref('')

const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])

const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault);

const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true
    },
    {
        text: 'Display Name',
        value: 'display_name',
    },
    {
        text: 'Value',
        value: 'value',
    },
    {
        text: 'Action',
        value: 'action'
    }
];

getData()

async function getData() {
    loading.value = true
    
    await settingStore.getAll({
        page: serverOptions.value.page,
        per_page: serverOptions.value.rowsPerPage,
        filters: [],
        orders: [
            { 
                field: serverOptions.value.sortBy, 
                direction: serverOptions.value.sortType 
            }
        ],
        keyword: search.value
    })
    items.value = settingStore.settings.data
    serverItemLength.value = settingStore.settings.total

    loading.value = false
}

async function editData(param: SettingInfo) {
    settingStore.setting = param

    router.push({ name: 'edit_setting', params: { id: param.id } })
}

watch(serverOptions, (value) => { 
    getData(); 
}, { deep: true });

</script>