<template>
    <v-container>
        <v-row justify="space-between">
            <v-col>
                <div class="tw-text-2xl tw-font-bold tw-mb-5">Detail Task</div>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'task' })" variant="outlined">Back</v-btn>
            </v-col>
        </v-row>

        <v-divider class="tw-mb-3"></v-divider>

        <v-expansion-panels :multiple="true">
            <v-expansion-panel title="Task">
                <v-expansion-panel-text>
                    <v-list lines="two">
                        <list-item-detail 
                            v-for="(value, key) in detail"
                            :item-key="key"
                            :item-value="value"
                        >
                        </list-item-detail>
                    </v-list>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.vehicle" title="Vehicle">
                <v-expansion-panel-text>
                    <list-item-detail 
                        v-for="(value, key) in detail.vehicle"
                        :item-key="key"
                        :item-value="value"
                    >
                    </list-item-detail>
                </v-expansion-panel-text>
            </v-expansion-panel>
            <v-expansion-panel v-if="detail.vehicle?.user" title="User">
                <v-expansion-panel-text>
                    <list-item-detail 
                        v-for="(value, key) in detail.vehicle.user"
                        :item-key="key"
                        :item-value="value"
                    >
                    </list-item-detail>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-container>
</template>

<script lang="ts" setup>

import numberFormat from '@/library/format';
import router from '@/router';
import { useVehicleCareStore } from '@/store/vehicle_care';
import ListItemDetail from '@/views/components/List/ListItemDetail.vue';
import _ from "lodash";
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const vehicleCareStore = useVehicleCareStore()
const route = useRoute()

const id = route.params.id
const detail = ref(vehicleCareStore.vehicleCare)

getData(String(id))

async function getData(id: string) {
    await vehicleCareStore.get(id)

    detail.value = vehicleCareStore.vehicleCare
}

</script>