<template>
    <v-container>
        <h1 class="tw-mb-5">Task</h1>
        <v-row class="tw-mb-1" align="end" justify="space-between">
            <v-col>
                <v-text-field class="tw-w-1/2" v-model.lazy="search" label="Search" variant="outlined" density="comfortable"
                    @change="getData" hide-details>
                </v-text-field>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'add_task' })" prepend-icon="mdi-plus" variant="outlined">Add
                    Task</v-btn>
                <v-btn v-if="itemsSelected.length > 0" class="tw-ml-3" color="red-darken-4" prepend-icon="mdi-delete">Delete
                    Selected</v-btn>
            </v-col>
        </v-row>
        <EasyDataTable table-class-name="default-data-table" v-model:server-options="serverOptions"
            v-model:items-selected="itemsSelected" :theme-color="'#cc2c24'" :server-items-length="serverItemLength"
            :loading="loading" :headers="headers" :items="items" must-sort buttons-pagination>
            <template #item-due_date="{ due_date }">
                {{ dateFormat(due_date)  }}
            </template>
            <template #item-fulfilled_at="{ fulfilled_at }">
                {{ dateFormat(fulfilled_at)  }}
            </template>
            <template #item-created_at="{ created_at }">
                {{ dateFormat(created_at)  }}
            </template>
            <template #item-status="{ status }">
                {{ _.startCase(status)  }}
            </template>
            <template #item-action="item">
                <div class="tw-flex">
                    <v-icon @click="router.push({ name: 'detail_task', params: { id: item.id } })" class="tw-mr-3"
                        icon="mdi-eye"></v-icon>
                    <v-icon @click="router.push({ name: 'edit_task', params: { id: item.id } })" class="tw-mr-3"
                        icon="mdi-pencil"></v-icon>
                    <v-icon @click="completeTask(item.id)" class="tw-mr-3" icon="mdi-check-bold"></v-icon>
                    <v-icon @click="deleteData(item.id)" icon="mdi-delete"></v-icon>
                </div>
            </template>
        </EasyDataTable>

        <Prompt :prompt-type="'update'"></Prompt>
        <Prompt :prompt-type="'delete'"></Prompt>
    </v-container>
</template>

<script lang="ts" setup>

import {dateFormat} from '@/library/format';
import router from '@/router';
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault';
import { useDialogStore } from '@/store/dialog';
import { useVehicleCareStore } from '@/store/vehicle_care';
import Prompt from '@/views/components/Dialog/Prompt.vue';
import { ref, watch } from 'vue';
import type { Header, Item } from "vue3-easy-data-table";
import _ from 'lodash'

const vehicleCareStore = useVehicleCareStore();
const dialogStore = useDialogStore();

const loading = ref(false)
const search = ref('')

const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])

const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault);

const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true
    },
    {
        text: 'Code Name',
        value: 'code_name',
    },
    {
        text: 'Title',
        value: 'title'
    },
    {
        text: 'Description',
        value: 'description',
    },
    {
        text: 'Status',
        value: 'status'
    },
    {
        text: 'Due Date',
        value: 'due_date'
    },
    {
        text: 'Fulfilled At',
        value: 'fulfilled_at'
    },
    {
        text: 'Created At',
        value: 'created_at'
    },
    {
        text: 'Action',
        value: 'action'
    }
];

getData()

async function getData() {
    loading.value = true
    
    await vehicleCareStore.getAll({
        page: serverOptions.value.page,
        per_page: serverOptions.value.rowsPerPage,
        filters: [],
        orders: [
            { 
                field: serverOptions.value.sortBy, 
                direction: serverOptions.value.sortType 
            }
        ],
        keyword: search.value
    })
    items.value = vehicleCareStore.vehicleCares.data
    serverItemLength.value = vehicleCareStore.vehicleCares.total

    loading.value = false
}

async function deleteData(id: string){
    const prompt = await dialogStore.prompt()

    if(prompt){
        loading.value = true

        await vehicleCareStore.remove(id)
        await getData()

        loading.value = false
    }
}

async function completeTask(id: string) {
    const prompt = await dialogStore.prompt('update')

    if(prompt){
        loading.value = true

        await vehicleCareStore.complete(id)
        await getData()

        loading.value = false
    }
}

watch(serverOptions, (value) => { 
    getData(); 
}, { deep: true });

</script>