<template>
  <v-container class="pa-10 tw-overflow-scroll" fluid>
    <table>
      <tbody>
        <tr v-for="row in totalFloorRow">
          <template v-for="col in totalFloorCol">
            <FloorCell :row="row" :col="col" :car-detail="dummyCarDetail"></FloorCell>
            <FloorCell v-if="isCameraColumn(row, col, totalFloorCol)" :row="row" :col="col" :camera-number="row"
              :floor-zone-type="'camera'" :floor-status="'other'" :connected-col="2">
            </FloorCell>

            <FloorCell v-if="isHallWayColumn(row, col, totalFloorCol)" :floor-zone-type="'hallway'"
              :connected-col="totalFloorCol">
            </FloorCell>

            <FloorCell v-if="isCameraColumn(row, col, totalFloorCol)" :row="row" :col="col" :camera-number="row + 1"
              :floor-zone-type="'camera'" :floor-status="'other'" :connected-col="2">
            </FloorCell>
          </template>
        </tr>
      </tbody>
    </table>

    <CellDialog />
  </v-container>
</template>

<script lang="ts" setup>

import CellDialog from "@/views/components/Dialog/Cell.vue";
import FloorCell from "@/views/components/Table/FloorCell.vue";
import { reactive, ref } from "vue";

const totalFloorRow = ref(6);
const totalFloorCol = ref(6);
const dummyCarDetail = reactive({
  owner_name: 'John Doe',
  car_name: 'Suzuki Ertiga'
});

function isCameraColumn(row: number, col: number, total: number) {
  return row % 2 === 1 && isCellHalfTotal(col, total);
}

function isHallWayColumn(row: number, col: number, total: number) {
  return row === 1 && isCellHalfTotal(col, total);
}

function isCellHalfTotal(col: number, total: number) {
  return col === Math.ceil(total / 2);
}

</script>
