<template>
    <v-form @submit.prevent="submit" ref="form">
        <v-text-field  variant="solo" v-model="username" placeholder="Email" required></v-text-field>

        <v-text-field class="tw-mb-5" variant="solo" type="password" v-model="password" placeholder="Password"
            required></v-text-field>

        <div class="text-center">
            <v-btn class="tw-px-32" :loading="loading" color="primary" large type="submit" text rounded>Login</v-btn>
        </div>
    </v-form>
</template>

<script lang="ts" setup>
import { useAuthStore } from "@/store/auth";
import { ref } from "vue";

const authStore = useAuthStore();

const username = ref('');
const password = ref('');

const loading = ref(false);

async function submit() {
    loading.value = true;

    const response = await authStore.login(username.value, password.value);

    loading.value = false;
}

</script>
