<template>
    <v-container>
        <v-row justify="space-between">
            <v-col>
                <div class="tw-text-2xl tw-font-bold tw-mb-5">Detail User Customer</div>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'customer' })" variant="outlined">Back</v-btn>
            </v-col>
        </v-row>


        <v-divider class="tw-mb-5"></v-divider>
        <table class="clone-data-table">
            <tbody>
                <tr v-for="header in userHeaders">
                    <template v-if="header.value==='profile_image_url'">
                        <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                        <td class="tw-p-2 border border-white">
                            <img v-if="getValueByHeader(userData, header.value)" :src="getValueByHeader(userData, header.value)" :alt="image" style="width: 100px; height: auto;"/>
                            <img v-else src="@/assets/icons/logo.png" :alt="image" style="width: 100px; height: auto;"/>
                        </td>
                    </template>
                    <template v-else-if="header.value==='gender'">
                        <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                        <td v-if="getValueByHeader(userData, header.value) === 'M'" class="tw-p-2 border border-white">
                            Male
                        </td>
                        <td v-else class="tw-p-2 border border-white">
                            Female
                        </td>
                    </template>
                    <template v-else-if="header.value==='is_membership_active'">
                        <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                        <td v-if="getValueByHeader(userData, header.value)" class="tw-p-2 border border-white">
                            Active
                        </td>
                        <td v-else class="tw-p-2 border border-white">
                            Inactive
                        </td>
                    </template>
                    <template v-else>
                        <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                        <td class="tw-p-2 border border-white">{{ getValueByHeader(userData, header.value) }}</td>
                    </template>
                </tr>
            </tbody>
        </table>

        <v-divider class="tw-mb-5"></v-divider>
        <table class="clone-data-table">
            <tbody>
                <tr v-for="header in customerInformationHeaders">
                    <th class="tw-p-2 border border-white tw-text-left">{{ header.text }}</th>
                    <td class="tw-p-2 border border-white">{{ getValueByHeader(customerInformationData, header.value) }}</td>
                </tr>
            </tbody>
        </table>
        <v-divider class="tw-mb-5"></v-divider>
    </v-container>
</template>

<script lang="ts" setup>
import numberFormat, {formatNumberToBillion, dateFormat} from '@/library/format';
import router from '@/router';
import { useCustomerStore } from '@/store/customer';
import { ref, watch } from 'vue';
import { useRoute } from 'vue-router';

const customerStore = useCustomerStore()
const route = useRoute()

const userData = ref(customerStore.customer)
const customerInformationData = ref({})


const userHeaders: Header[] = [
    {
        text: 'Profile Image',
        value: 'profile_image_url'
    },
    {
        text: 'ID',
        value: 'id'
    },
    {
        text: 'Name',
        value: 'name'
    },
    {
        text: 'Nickname',
        value: 'nickname'
    },
    {
        text: 'Email',
        value: 'email'
    },
    {
        text: 'Phone Number',
        value: 'phone_number'
    },
    {
        text: 'Gender',
        value: 'gender'
    },
    {
        text: 'Status',
        value: 'is_membership_active'
    },
    {
        text: 'Point',
        value: 'points'
    },
    
];

const customerInformationHeaders: Header[] = [
    {
        text: 'Customer Type',
        value: 'customer_type'
    },
    {
        text: 'Identity Number',
        value: 'identity_number'
    },
    {
        text: 'Identity Type',
        value: 'identity_type'
    },
    {
        text: 'Referral Name',
        value: 'referral_name'
    },
    {
        text: 'Referral Source',
        value: 'referral_source'
    },
    {
        text: 'Referral Description',
        value: 'referral_description'
    }
];


const id = route.params.id


function getValueByHeader(obj, path) {
    return obj.hasOwnProperty(path) ? obj[path] : '';
}

getData(String(id))

async function getData(customerId: string) {
    await customerStore.get(customerId)

    userData.value = {...customerStore.customer}
    customerInformationData.value = userData.value.customer_information
    delete displayData.value['customer_information']
}

</script>
