<template>
    <v-container>
        <h1 class="tw-mb-5">Customer</h1>
        <v-row class="tw-mb-1" align="end" justify="space-between">
            <v-col>
                <v-text-field
                    class="tw-w-1/2"
                    v-model.lazy="search"
                    label="Search"
                    variant="outlined"
                    density="comfortable"
                    @change="getData"
                    hide-details>
                </v-text-field>
            </v-col>
            <v-col class="tw-text-end">
                <v-btn @click="router.push({ name: 'add_customer' })" prepend-icon="mdi-plus" variant="outlined">Add Customer</v-btn>
            </v-col>
        </v-row>
        <EasyDataTable
            table-class-name="default-data-table"
            v-model:server-options="serverOptionsDefault"
            v-model:items-selected="itemsSelected"
            :theme-color="'#cc2c24'"
            :server-items-length="serverItemLength"
            :loading="loading"
            :headers="headers"
            :items="items"
            must-sort
            buttons-pagination
        >
            <template #item-gender="{ gender }">
                {{ gender === 'M' ? 'Male' : 'Female' }}
            </template>
            <template #item-is_membership_active="{ is_membership_active }">
                <v-icon :icon="is_membership_active ? 'mdi-check' : 'mdi-minus'"></v-icon>
            </template>

            <template #item-action="item">

                <div class="tw-flex">
                    <v-tooltip text="Detail" location="top">
                        <template v-slot:activator="{ props }">
                            <v-icon v-bind="props" @click="router.push({ name: 'detail_customer', params: { id: item.id } })" class="tw-mr-3" icon="mdi-eye"></v-icon>
                        </template>
                    </v-tooltip>
                    <v-tooltip text="Edit" location="top">
                        <template v-slot:activator="{ props }">
                            <v-icon v-bind="props" @click="router.push({ name: 'edit_customer', params: { id: item.id } })" class="tw-mr-3" icon="mdi-pencil"></v-icon>
                        </template>
                    </v-tooltip>
                    <v-tooltip text="Add Point" location="top">
                        <template v-slot:activator="{ props }">
                            <v-icon v-bind="props" @click="router.push({ name: 'add_point', params: { id: item.id } })" class="tw-mr-3" icon="mdi-plus-thick"></v-icon>
                        </template>
                    </v-tooltip>
                    <v-tooltip text="Update Membership" location="top">
                        <template v-slot:activator="{ props }">
                            <v-icon v-bind="props" @click="router.push({ name: 'update_membership', params: { id: item.id } })" icon="mdi-account-card"></v-icon>
                        </template>
                    </v-tooltip>
                    
                </div>

            </template>
        </EasyDataTable>
    </v-container>
</template>

<script lang="ts" setup>
import router from '@/router';
import { ref, watch } from 'vue';
import type { Header, Item } from "vue3-easy-data-table";
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault'
import { constant } from '@/config/constant';
import { useCustomerStore } from '@/store/customer';

const customerStore = useCustomerStore();
const loading = ref(false)
const search = ref('')
const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])
const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault);

const headers: Header[] = [
    {
        text: 'ID',
        value: 'id',
        sortable: true
    },
    {
        text: 'Name',
        value: 'name',
    },
    {
        text: 'Nickname',
        value: 'nickname',
    },
    {
        text: 'Email',
        value: 'email',
    },
    {
        text: 'Phone Number',
        value: 'phone_number',
    },
    {
        text: 'Gender',
        value: 'gender',
    },
    {
        text: 'Active',
        value: 'is_membership_active',
    },
    {
        text: 'Action',
        value: 'action'
    }
];

getData()

async function getData() {
    loading.value = true

    await customerStore.getAll({
        page: serverOptions.value.page,
        per_page: serverOptions.value.rowsPerPage,
        filters: [
            {
                field: 'role_id',
                operator: '=',
                value: String(constant.ROLE.CUSTOMER.id)
            }
        ],
        orders: [
            {
                field: serverOptions.value.sortBy,
                direction: serverOptions.value.sortType
            }
        ],
        keyword: search.value
    })
    items.value = customerStore.customers.data
    serverItemLength.value = customerStore.customers.total

    loading.value = false
}

watch(serverOptions, (value) => {
    getData();
}, { deep: true });
</script>
