<template>
    <v-container>
        <div class="tw-text-2xl tw-font-bold tw-mb-5">Update Membership</div>
        <v-divider class="tw-mb-3"></v-divider>
        <v-form>

            <v-row>
                <v-col cols="12">
                    <div class="tw-text-lg tw-font-bold">Name : {{ input.name }}</div>
                </v-col>
                
            </v-row>
            <v-row>
                <v-col v-if="id" cols="12">
                  <v-radio-group v-model="input.is_membership_active" :error-messages="String(v$.is_membership_active.$errors.map(e => e.$message))" hide-details="auto"
                    inline>
                    <template v-slot:label>
                      <div class="tw-text-white tw-font-bold">Status *</div>
                    </template>
                    <v-radio label="Active" :value="true" color="primary"></v-radio>
                    <v-radio label="In active" :value="false" color="primary"></v-radio>
                  </v-radio-group>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-btn @click="router.push({ name: 'customer' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
                </v-col>
                <v-col cols="12" md="6">
                    <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>

<script lang="ts" setup>


import router from '@/router';
import { useStaffStore } from '@/store/staff';
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { required, email, requiredIf, sameAs } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core';
import { constant } from '@/config/constant';
import { useCustomerStore } from '@/store/customer';

const customerStore = useCustomerStore()
const initCustomer = useCustomerStore()
const route = useRoute()

const id = route.params.id

const input = ref(customerStore.customer)
const rules = {
    is_membership_active: { required },
}

//bind validation rules to input form
const v$ = useVuelidate(rules, input)

//if id exist get data from backend else reset state
if (id) {
    getData(String(id))
}else{
    customerStore.$reset()
    input.value = customerStore.customer
    router.push({ name: 'customer' })
}

async function getData(customerId: string) {
    await customerStore.get(customerId)
    input.value = customerStore.customer
}

async function submit() {
    //check validation first
    const isFormCorrect = await v$.value.$validate()
    if (!isFormCorrect) return
    customerStore.updateMembership(input.value)
}

</script>