<template>
    <v-container>
        <div class="tw-text-2xl tw-font-bold tw-mb-5">Add Point</div>
        <v-divider class="tw-mb-3"></v-divider>
        <v-form>
            <v-row>
                <v-col cols="12">
                    <div class="tw-text-lg tw-font-bold">Total Point {{ customer.points }}</div>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.points" label="Amount*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.points.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-btn @click="router.push({ name: 'customer' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
                </v-col>
                <v-col cols="12" md="6">
                    <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>

<script lang="ts" setup>


import router from '@/router';
import { useStaffStore } from '@/store/staff';
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { required, email, requiredIf, sameAs } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core';
import { constant } from '@/config/constant';
import { useCustomerStore } from '@/store/customer';

const customerStore = useCustomerStore()
const initCustomer = useCustomerStore()
const route = useRoute()

const id = route.params.id

const customer = ref(customerStore.customer)

const input = ref(initCustomer.customer)
input.value.points = 0
input.value.id = id
const rules = {
    points: { required },
}


//bind validation rules to input form
const v$ = useVuelidate(rules, input)

//if id exist get data from backend else reset state
if (id) {
    getData(String(id))
}else{
    customerStore.$reset()
    customer.value = customerStore.customer
    router.push({ name: 'customer' })
}

async function getData(customerId: string) {
    await customerStore.get(customerId)
    customer.value = customerStore.customer
}

async function submit() {
    //check validation first
    const isFormCorrect = await v$.value.$validate()
    if (!isFormCorrect) return

    customerStore.addPoint(input.value)
}

</script>