<template>
    <!-- Array have index, loop the values first to get the object inside -->
    <v-expansion-panel v-for="(values, index) in itemValue" :title="setTitle() + ' ' + (index + 1)">
        <v-expansion-panel-text>
            <v-list v-for="(value, key) in values">
                <!-- If the value is object or array, recursive to list item expansion component -->
                <ListItemExpansion v-if="typeof value === 'object'" :item-key="String(key)" :item-value="value"></ListItemExpansion>
                <ListItemDetail v-else :item-key="String(key)" :item-value="value"></ListItemDetail>
            </v-list>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>

<script lang="ts" setup>
import _ from 'lodash';
import ListItemExpansion from './ListItemExpansion.vue';
import ListItemDetail from './ListItemDetail.vue';

const props = defineProps({
    itemKey: {
        type: String,
        default: ''
    },
    itemValue: Array<any>
})

function setTitle(): string {
    return _.startCase(_.replace(props.itemKey, '_', ' '))
}

</script>