<template>
    <v-expansion-panels>
        <!-- Array and Object means different structure for the component -->
        <ListItemPanelArray v-if="(itemValue instanceof Array)" :item-key="itemKey" :item-value="itemValue"></ListItemPanelArray>
        <ListItemPanelObject v-else :item-key="itemKey" :item-value="itemValue"></ListItemPanelObject>
    </v-expansion-panels>
</template>

<script lang="ts" setup>
import _ from 'lodash';
import ListItemPanelArray from './ListItemPanelArray.vue';
import ListItemPanelObject from './ListItemPanelObject.vue';

const props = defineProps({
    itemKey: {
        type: String,
        default: ''
    },
    itemValue: null
})

</script>