<template>
    <!-- <v-list-item v-if="props.itemValue === null || typeof props.itemValue !== 'object'" :title="setTitle()" :subtitle="setSubtitle()"
    ></v-list-item> -->
    <v-list-item v-if="props.itemValue === null || typeof props.itemValue !== 'object'">
    <v-list-item-avatar v-if="props.itemKey === 'url' && typeof props.itemValue === 'string'">
      <img :src="props.itemValue" :alt="props.itemValue" />
    </v-list-item-avatar>
    <v-list-item-content v-else>
      <v-list-item-title>{{ setTitle() }}</v-list-item-title>
      <v-list-item-subtitle>{{ setSubtitle() }}</v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script lang="ts" setup>
import numberFormat from '@/library/format';
import _ from 'lodash';

const props = defineProps({
    itemKey: {
        type: String,
        default: ''
    },
    itemValue: null
})

function setTitle(): string {
    return _.startCase(_.replace(props.itemKey, '_', ' '))
}

function setSubtitle(): string{

    if(props.itemKey === 'id') {
        return String(props.itemValue)
    }

    switch(typeof props.itemValue){
        case 'number': return numberFormat(props.itemValue)
        default: return String(props.itemValue)
    }
}

</script>