<template>
    <!-- Object doesn't have index, only loop the key value -->
    <v-expansion-panel :title="_.startCase(itemKey)">
        <v-expansion-panel-text>
            <v-list v-for="(value, key) in itemValue">
                <!-- If the value is object or array, recursive to list item expansion component -->
                <ListItemExpansion v-if="isObject(value)" :item-key="String(key)" :item-value="value">
                </ListItemExpansion>
                <ListItemDetail v-else :item-key="String(key)" :item-value="value"></ListItemDetail>
            </v-list>
        </v-expansion-panel-text>
    </v-expansion-panel>
</template>

<script lang="ts" setup>
import _ from 'lodash';
import ListItemExpansion from './ListItemExpansion.vue';
import ListItemDetail from './ListItemDetail.vue';

const props = defineProps({
    itemKey: {
        type: String,
        default: ''
    },
    itemValue: Object
})

function isObject(value: any) {
    return value !== null && typeof value === 'object'
}

</script>