<template>
    <v-container>
        <div class="tw-text-2xl tw-font-bold tw-mb-5">Add Staff</div>
        <v-divider class="tw-mb-3"></v-divider>
        <v-form>
            <v-row>
                <v-col cols="12">
                    <div class="tw-text-lg tw-font-bold">Profile</div>
                </v-col>
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.name" label="Name*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.name.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.code" label="NickName*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.code.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field v-model="input.status" label="Status*" variant="outlined" hide-details="auto"
                                :error-messages="String(v$.code.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-btn @click="router.push({ name: 'staff' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
                </v-col>
                <v-col cols="12" md="6">
                    <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import { useStaffStore } from '@/store/staff';
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { required, email } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core';
import { useStorageStore } from '@/store/storage'

const storageStore = useStorageStore()
const route = useRoute()

const id = route.params.id

const input = ref(storageStore.storage)

const rules = {
  code: { required },
  name: { required },
  status: { required },
  length: { required },
  width: { required },
  height: { required },
  data: { required },
  total: { required }
}

//bind validation rules to input form
const v$ = useVuelidate(rules, input)

//if id exist get data from backend else reset state
if (id) {
    getData(String(id))
}else{
    storageStore.$reset()

    input.value = storageStore.storage
}

async function getData(storageId: string) {
    await storageStore.get(storageId)

    input.value = storageStore.storage
}

async function submit() {
    //check validation first
    const isFormCorrect = await v$.value.$validate()

    if (!isFormCorrect) return

    id ? storageStore.update(input.value) : storageStore.insert(input.value)
}

</script>
