<template>
    <v-container>
        <div class="tw-text-2xl tw-font-bold tw-mb-5">Add Item Storage</div>
        <v-divider class="tw-mb-3"></v-divider>
        <v-form>
            <v-row>
                <v-col cols="12">
                    <div class="tw-text-lg tw-font-bold">Item Storage</div>
                </v-col>
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.code" label="Code*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.code.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                    <v-text-field v-model="input.name" label="Name*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.name.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.length" type="number" label="Length*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.length.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.width" type="number" label="Width*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.width.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.height" type="number" label="Height*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.height.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
                <v-col cols="12">
                    <v-text-field v-model="input.rent_service.amount" type="number" label="Rentable Amount*" variant="outlined" hide-details="auto"
                        :error-messages="String(v$.rent_service.amount.$errors.map(e => e.$message))" required></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-btn @click="router.push({ name: 'item_storage' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
                </v-col>
                <v-col cols="12" md="6">
                    <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import { useItemStorageStore } from '@/store/item_storage';
import useVuelidate from '@vuelidate/core';
import { decimal, minValue, required } from '@vuelidate/validators';
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const itemStorageStore = useItemStorageStore()
const route = useRoute()

const id = route.params.id

const input = ref(itemStorageStore.itemStorage)

const rules = {
    code: { required },
    name: { required },
    length: { required, minValue: minValue(0) },
    width: { required, minValue: minValue(0) },
    height: { required, minValue: minValue(0) },
    rent_service: {
        amount: { required, minValue: minValue(0) }
    }
}

//bind validation rules to input form
const v$ = useVuelidate(rules, input)

//if id exist get data from backend else reset state
if (id) {
    getData(String(id))
}else{
    itemStorageStore.$reset()

    input.value = itemStorageStore.itemStorage
}

async function getData(addOnId: string) {
    await itemStorageStore.get(addOnId)

    input.value = itemStorageStore.itemStorage
}

async function submit() {
    //check validation first
    const isFormCorrect = await v$.value.$validate()

    if (!isFormCorrect) return
    
    id ? itemStorageStore.update(input.value) : itemStorageStore.insert(input.value)
}

</script>