@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-size: 2rem;
    font-weight: bold;
}

.bg-black-light{
    background-color: #161717 !important;
}

.bg-black-surface{
    background-color: #242424 !important;
}

.bg-black-with-logo{
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    width: 500px;
    height: 500px;
    top:25%;
    left: 40%;
    background-image: url("@/assets/icons/logo.png");
    background-position: center;
    background-size: contain;
}

/*
* Data Table
*/

.default-data-table{
    --easy-table-header-background-color: transparent;
    --easy-table-header-font-color: #868686;	
    --easy-table-header-item-padding: 1rem;
    
    --easy-table-body-row-background-color: transparent;
    --easy-table-body-row-font-color: #fff;
    --easy-table-body-row-hover-font-color: #fff;
    --easy-table-body-row-hover-background-color: #cc2c24;
    --easy-table-body-item-padding: 1rem;

    --easy-table-footer-background-color: transparent;	
    --easy-table-footer-font-color: #fff;
    --easy-table-footer-padding: 1 rem;
}


.clone-data-table{
    width: 100%;
    background-color: transparent;
}

.clone-data-table th{
    width: 35%;
    color: #868686;
}

.clone-data-table td{
    color: #fff;
}

.clone-data-table tr:hover{
    background-color: #cc2c24;
}

.operation-wrapper .operation-icon {
  width: 20px;
  cursor: pointer;
}
.player-wrapper {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.avator {
  margin-right: 15px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 10%);
}