<template>
    <v-app>
        <v-layout>
            <v-main>
                <v-container class="d-flex flex-column justify-center align-center bg-black tw-h-full tw-p-0" fluid
                    id="login-page">
                    <div class="text-center mb-8">
                        <img src="../../assets/icons/logo-text.png" alt="logo with text"/>
                    </div>

                    <div class="tw-w-1/3 tw-py-8">
                        <transition name="fade" mode="out-in">
                            <router-view></router-view>
                        </transition>
                    </div>
                </v-container>
            </v-main>
        </v-layout>
    </v-app>
</template>
