<template>
  <v-navigation-drawer class="bg-black-light">
    <v-list class="text-white" nav>
      <v-list-item @click="router.push({ name: 'dashboard' })" prepend-icon="mdi-home" title="Dashboard" value="dashboard"></v-list-item>
      <v-list-item @click="router.push({ name: 'floor_plan' })" prepend-icon="mdi-car" title="Vaults" value="vaults"></v-list-item>
      <v-list-item @click="router.push({ name: 'customer' })" prepend-icon="mdi-account" title="Customers" value="customers" href=""></v-list-item>
      <v-list-item @click="router.push({ name: 'staff' })" prepend-icon="mdi-account-multiple" title="Staffs" value="staffs"></v-list-item>
      <v-list-item @click="router.push({ name: 'vehicle' })" prepend-icon="mdi-car" title="User Vehicle" value="vehicles"></v-list-item>
      <!-- <v-list-item @click="router.push({ name: 'addon' })" prepend-icon="mdi-puzzle-plus" title="Add Ons" value="addons"></v-list-item> -->
      <v-list-item @click="router.push({ name: 'transaction' })" prepend-icon="mdi-credit-card-outline" title="Transactions" value="transaction"></v-list-item>
      <v-list-item @click="router.push({ name: 'item_storage' })" prepend-icon="mdi-list-box" title="Item Storages" value="item_storage"></v-list-item>
      <v-list-item @click="router.push({ name: 'insurance' })" prepend-icon="mdi-shield-check" title="Insurances" value="insurance"></v-list-item>
      <v-list-item @click="router.push({ name: 'task' })" prepend-icon="mdi-file-document-outline" title="Task" value="task" href=""></v-list-item>
      <v-list-item @click="router.push({ name: 'promo' })" prepend-icon="mdi-percent-outline" title="Promotions" value="promos"></v-list-item>
      <v-list-item @click="router.push({ name: 'booking' })" prepend-icon="mdi-calendar-check" title="Bookings" value="bookings"></v-list-item>
      <v-list-item @click="router.push({ name: 'appointment' })" prepend-icon="mdi-handshake" title="Appointments" value="appointments"></v-list-item>
      <v-list-item @click="router.push({ name: 'setting' })" prepend-icon="mdi-cog" title="Setting" value="setting"></v-list-item>
    </v-list>
  </v-navigation-drawer>>
</template>

<script lang="ts" setup>

import router from '@/router';

</script>
