<template>
  <v-container>
    <div class="tw-text-2xl tw-font-bold tw-mb-5">Add Promo</div>
    <v-divider class="tw-mb-3"></v-divider>
    <v-form>
      <v-row>
        <v-col cols="12">
          <div class="tw-text-lg tw-font-bold">Promo</div>
        </v-col>
        <v-col cols="12">
          <v-radio-group v-model="input.is_active" :error-messages="String(v$.is_active.$errors.map(e => e.$message))" hide-details="auto"
            inline>
            <template v-slot:label>
              <div class="tw-text-white tw-font-bold">Status *</div>
            </template>
            <v-radio label="Active" :value="true" color="primary"></v-radio>
            <v-radio label="In active" :value="false" color="primary"></v-radio>
          </v-radio-group>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field v-model="input.title" label="Title*" variant="outlined" hide-details="auto"
            :error-messages="String(v$.title.$errors.map(e => e.$message))" required></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field v-model="input.code" label="Promo Code*" variant="outlined" hide-details="auto"
            :error-messages="String(v$.code.$errors.map(e => e.$message))" required></v-text-field>
        </v-col>
        <v-col cols="6">
          <v-text-field v-model="input.amount" label="Amount*" variant="outlined" hide-details="auto"
            required></v-text-field>
        </v-col>
        <v-col cols="6">
          <v-select v-model="input.promo_type" item-title="name" item-value="id" label="Choose Membership*"
            variant="outlined" 
            :items="[ constant.PROMO.TYPE.PERCENT.id, constant.PROMO.TYPE.FIXED.id ]" 
            :error-messages="String(v$.promo_type.$errors.map(e => e.$message))"
            return-object></v-select>
        </v-col>
        <v-col cols="6">
          <v-text-field v-model="input.quota" label="Quota*" variant="outlined" hide-details="auto"
            required></v-text-field>
        </v-col>
        <v-col cols="6" />
        <v-col cols="6">
          <v-text-field type="date" v-model="input.started_at" label="Start Date*" variant="outlined" hide-details="auto"
            required></v-text-field>
        </v-col>
        <v-col cols="6">
          <v-text-field type="date" v-model="input.ended_at" label="End Date*" variant="outlined" hide-details="auto"
            required></v-text-field>
        </v-col>
        <v-col cols="12">
          <code><pre>
            <v-textarea v-model="input.description" label="Description*" variant="outlined" hide-details="auto" :error-messages="String(v$.description.$errors.map(e => e.$message))"></v-textarea>
          </pre></code>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <v-btn @click="router.push({ name: 'promo' })" color="grey-darken-1" size="large" block>Cancel</v-btn>
        </v-col>
        <v-col cols="12" md="6">
          <v-btn @click="submit()" color="primary" size="large" block>Save</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script lang="ts" setup>

import router from '@/router';
import { usePromoStore } from '@/store/promo';
import useVuelidate from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { constant } from '@/config/constant';

const promoStore = usePromoStore()
const route = useRoute()



const id = route.params.id

const input = ref(promoStore.promo)

const rules = {
  title: { required },
  code: { required },
  promo_type: { required },
  is_active: { required },
  amount: { required },
  description: { required },
  is_combinable: { required },
  quota: { required },
  started_at: { required },
  ended_at: { required }
}

//bind validation rules to input form
const v$ = useVuelidate(rules, input)

//if id exist get data from backend else reset state
if (id) {
  getData(String(id))
} else {
  promoStore.$reset()

  input.value = promoStore.promo
}

async function getData(staffId: string) {
  await promoStore.get(staffId)

  input.value = promoStore.promo

}

async function submit() {
  //check validation first
  const isFormCorrect = await v$.value.$validate()

  if (!isFormCorrect) return

  id ? promoStore.update(input.value) : promoStore.insert(input.value)
}

</script>
