<template>
  <v-container>
    <h1 class="tw-mb-5">Promo</h1>
    <v-row class="tw-mb-1" align="end" justify="space-between">
      <v-col>
        <v-text-field
          class="tw-w-1/2"
          v-model.lazy="search"
          label="Search"
          variant="outlined"
          density="comfortable"
          @change="getData"
          hide-details>
        </v-text-field>
      </v-col>
      <v-col class="tw-text-end">
        <v-btn @click="router.push({ name: 'add_promo' })" prepend-icon="mdi-plus" variant="outlined">Add Promo</v-btn>
        <v-btn v-if="itemsSelected.length > 0" class="tw-ml-3" color="red-darken-4" prepend-icon="mdi-delete">Delete
          Selected
        </v-btn>
      </v-col>
    </v-row>
    <EasyDataTable
      table-class-name="default-data-table"
      v-model:server-options="serverOptions"
      v-model:items-selected="itemsSelected"
      :theme-color="'#cc2c24'"
      :server-items-length="serverItemLength"
      :loading="loading"
      :headers="headers"
      :items="items"
      must-sort
      buttons-pagination
    >
      <template #item-gender="{ gender }">
        {{ gender === "M" ? "Male" : "Female" }}
      </template>
      <template #item-is_active="{ is_active }">
        {{ is_active ? 'active' : 'inactive' }}
      </template>
      <template #item-started_at="{ started_at }">
          {{ dateFormat(started_at)  }}
      </template>
      <template #item-ended_at="{ ended_at }">
          {{ dateFormat(ended_at)  }}
      </template>
      <template #item-action="item">
        <div class="tw-flex">
          <v-icon @click="router.push({ name: 'edit_promo', params: { id: item.id } })" class="tw-mr-3"
                  icon="mdi-pencil"></v-icon>
          <v-icon @click="deleteData(item.id)" icon="mdi-delete"></v-icon>
        </div>
      </template>
    </EasyDataTable>

    <Prompt :prompt-type="'delete'"></Prompt>
  </v-container>
</template>

<script lang="ts" setup>

import {dateFormat} from '@/library/format';
import router from '@/router'
import { usePromoStore } from '@/store/promo'
import { ref, watch } from 'vue'
import type { Header, Item } from 'vue3-easy-data-table'
import { serverOptionsDefault } from '@/store/config/serverOptionsDefault'
import { useDialogStore } from '@/store/dialog'
import Prompt from '@/views/components/Dialog/Prompt.vue'

const dialogStore = useDialogStore()
const promoStore = usePromoStore()
const loading = ref(false)
const search = ref('')
const itemsSelected = ref<Item[]>([])
const items = ref<Item[]>([])
const serverItemLength = ref(0)
const serverOptions = ref(serverOptionsDefault)

const headers: Header[] = [
  {
    text: 'ID',
    value: 'id',
    sortable: true
  },
  {
    text: 'Title',
    value: 'title',
  },
  {
    text: 'Code',
    value: 'code',
  },
  {
    text: 'Status',
    value: 'is_active',
  },
  {
    text: 'Promo Type',
    value: 'promo_type',
  },
  {
    text: 'Amount',
    value: 'amount',
  },
  {
    text: 'Quota',
    value: 'quota',
  },
  {
    text: 'Start Date',
    value: 'started_at'
  },
  {
    text: 'End Date',
    value: 'ended_at'
  },
  {
    text: 'Usage',
    value: 'usages_count'
  },
  {
    text: 'Action',
    value: 'action'
  }
]

getData()

async function getData() {
  loading.value = true

  await promoStore.getAll({
    page: serverOptions.value.page,
    per_page: serverOptions.value.rowsPerPage,
    filters: [],
    orders: [
      {
        field: serverOptions.value.sortBy,
        direction: serverOptions.value.sortType
      }
    ],
    keyword: search.value
  })
  
  items.value = promoStore.promos.data
  serverItemLength.value = promoStore.promos.total

  loading.value = false
}

async function deleteData(id: string){
    const prompt = await dialogStore.prompt()

    if(prompt){
        loading.value = true

        await promoStore.remove(id)
        await getData()

        loading.value = false
    }
}

watch(serverOptions, (value) => {
  getData()
}, { deep: true })
</script>
